openapi: 3.0.0
info:
  title: OBL Directory API (Raidiam Connect)
  version: 2.2.0
  description: |
    The OBL Directory API as served by Raidiam Connect.

    This specification is the participant-facing contract for the OBL v2.2 compatibility
    surface and the legacy-contract ancillary services that sit alongside it. It is derived
    from OBL's published Directory API and NCA API specifications and describes **only what
    Raidiam Connect actually serves**. If an operation is absent here, it is not served.

    ## What changes for you

    Three things change, and **all three affect every consumer**.

    1. **Path prefix - `/v2.1/` becomes `/v2.2/`.** Every retained directory operation moves
       to a `/v2.2` prefix. The operations themselves are unchanged: same path structure below
       the prefix, same path and query parameters, same request bodies, same response bodies,
       same content negotiation. Only the version segment moves.

       ```
       before  https://matls-dirapi.openbanking.org.uk/v2.1/organisation/{OrganisationId}
       after   https://matls-oblapi.directory.openbanking.org.uk/v2.2/organisation/{OrganisationId}
       ```

       **This does not apply to the NCA API**, which keeps its `/api/v2/nca` paths - see below.

    2. **Hostname.** `matls-dirapi.openbanking.org.uk` becomes
       `matls-oblapi.directory.openbanking.org.uk` (and the sandbox equivalent). The NCA API
       moves onto the same host from its own legacy hostname.

    3. **Token issuer and scope names.** Tokens come from Raidiam Auth and carry
       Raidiam-native scopes. Discover the token endpoint from the OpenID provider metadata;
       see the `RaidiamAuth` security scheme for the scope catalogue.

    What does **not** change: request shapes, response bodies, status codes, content
    negotiation, and identifiers. Organisation IDs, software statement IDs and client IDs are
    preserved, so records are the same records under the same IDs. There is also **no
    trust-anchor change** - the server certificate on these hosts is issued by the same CA as
    the legacy directory's.

    So a consumer's change is mechanical in every case: repoint the host, repoint the token
    issuer, request native scopes, and change `/v2.1/` to `/v2.2/` in its base path. No
    response parsing or request construction should need touching.

    ### Which prefix applies where

    | Surface | Legacy path | Path on Raidiam Connect |
    | --- | --- | --- |
    | Directory operations | `/v2.1/...` | `/v2.2/...` |
    | Certificate validation (CVS) | `/v2.1/certificate/validate` | `/v2.2/certificate/validate` |
    | MLA status | `/v2.1/organisation/mlastatus` | `/v2.2/organisation/mlastatus` |
    | NCA API | `/api/v2/nca...` | `/api/v2/nca...` (**unchanged**) |

    ## Hosts

    | Environment | Base URL |
    | --- | --- |
    | Production | `https://matls-oblapi.directory.openbanking.org.uk` |
    | Sandbox | `https://matls-oblapi.sandbox.directory.openbanking.org.uk` |

    All endpoints require mutual TLS. Present the participant transport certificate used to
    obtain the access token; tokens are certificate-bound and a token replayed over a
    different certificate is rejected.

    ## Scope mapping from the legacy contract

    Enforcement happens at this layer: the legacy scope a given endpoint required is mapped
    to the native scope enforced on the presented token. The native APIs never see legacy
    scope names.

    | Legacy OBL scope | Raidiam scope |
    | --- | --- |
    | `ASPSPReadAccess` | `directory:software` |
    | `TPPReadAccess` | `directory:software` |
    | `TPPReadAll` | `directory:software` |
    | `AuthoritiesReadAccess` | `directory:software` |
    | `QTSPReadAccess` | `directory:software` |
    | `TPPManage` (software statement creation) | `directory:software:organisation:application:management` |
    | `TPPManage` (otherwise) | `directory:software` |
    | `ASPSPManage` | `directory:software` |
    | `JWKSManage` | `directory:software:cert:management` (software statement) or `directory:software:organisation:cert:management` (organisation) |
    | `NCAReadAccess` | `NCAReadAccess` (unchanged; granted via the *NCA Read* directory role) |
    | `MLAReadAccess` | `MLAReadAccess` (unchanged; granted via the *MLA Read* directory role) |

    `directory:software` is sufficient to create a certificate under a software statement.
    Revoking a certificate requires the corresponding management scope.

    `directory:software:organisation:application:management` confers creation of a software
    statement and nothing further. Updating one falls under `directory:software`, and only for
    a client belonging to the software statement being updated; the legacy specification
    defines no delete.

    ## Content negotiation

    Some endpoints negotiate strictly on vendor media types - for example
    `application/vnd.openbanking.directory.orgcontacts-v2+json` for contacts and
    `application/jwk-set+json` for certificates - and reject a bare wildcard `Accept`. This
    behaviour is retained, so send the same `Accept` header you send today.

    **One request media type is dropped.** `POST /v2.2/organisation/{OrganisationId}/certificate/{OrganisationCertificateType}`
    accepted either `application/x-pem-file` or `application/jwt` on the legacy directory, the
    latter carrying the CSR in a `csr` claim or the certificate chain in an `x5c` claim. Only
    `application/x-pem-file` is accepted here; a request presenting `Content-Type:
    application/jwt` is rejected. A consumer submitting certificates or CSRs as signed JWTs
    must switch to a PEM body. This is the one change on these endpoints that is not purely
    the hostname, token issuer and path prefix, so it is worth checking for specifically.

    ## Non-participant-facing hosts

    Not everything in the deployment is on this host. For reference:

    * **Native Raidiam Connect APIs** - `matls-api.<zone>`. A net-new surface; no legacy
      endpoint moves onto it. See the Raidiam Connect API reference for its inventory. The
      legacy SCIM `OBAuthorities` resource type is not reproduced anywhere on the
      compatibility layer; its consumers move to `GET /references/authorities` here, reading
      `AuthorityCode` rather than `AuthorityId`.
    * **JWKS and keystore** - `keystore.directory.openbanking.org.uk`. The legacy OBL
      keystore URLs remain in service permanently and are kept current, so issued SSAs
      continue to carry them.
    * **Open-data participant register** - `data.directory.openbanking.org.uk`. Public,
      unauthenticated, static. New in kind rather than a replacement for anything.
servers:
- url: https://matls-oblapi.directory.openbanking.org.uk
  description: Production
- url: https://matls-oblapi.sandbox.directory.openbanking.org.uk
  description: Sandbox
tags:
- name: Organisations v2.2
  description: OBL v2.2 compatibility surface - organisation reads.
- name: Contacts v2.2
  description: OBL v2.2 compatibility surface - contact reads.
- name: Software Statements v2.2
  description: OBL v2.2 compatibility surface - software statement reads.
- name: Software Statement Assertions v2.2
  description: OBL v2.2 compatibility surface - SSA retrieval.
- name: Software Statement Redirect URIs v2.2
  description: OBL v2.2 compatibility surface - redirect URI registration against a software statement.
- name: Organisation Certificates v2.2
  description: OBL v2.2 compatibility surface - organisation-level certificate and key management.
- name: Software Statement Certificates v2.2
  description: OBL v2.2 compatibility surface - software-statement-level certificate and key management.
- name: Certificate Associations v2.2
  description: OBL v2.2 compatibility surface - associating certificates with software statements.
- name: Authorisation Servers v2.2
  description: OBL v2.2 compatibility surface - authorisation server reads.
- name: Certificate Validation v2.2
  description: Certificate Validation Service. A like-for-like rebuild of the legacy CVS, same request and response
    contract.
- name: NCA API
  description: National Competent Authority register lookup. Legacy paths, request shapes and response structures
    retained unchanged, on a new hostname. **FCA data only** in this deployment.
- name: MLA Status API
  description: Multilateral Agreement status lookup. Legacy path and response structure retained unchanged, on a
    new hostname.
paths:
  /v2.2/organisation:
    parameters:
    - $ref: '#/components/parameters/FapiInteractionId'
    get:
      summary: Get all organisations that the client is authorised to retrieve
      description: |-
        Returns every organisation the client is authorised to retrieve.

        **Response size.** This endpoint returns the full ecosystem in a single document and is not paginated, matching the behaviour of the legacy endpoint today. Consumers should continue to expect the complete set in one response. Clients are encouraged to send `Accept-Encoding: gzip`.
      tags:
      - Organisations v2.2
      security:
      - RaidiamAuth:
        - directory:software
      responses:
        '200':
          $ref: '#/components/responses/OrganisationsGetFromSCIM200OKResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/403ForbiddenResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
  /v2.2/organisation/{OrganisationId}:
    parameters:
    - $ref: '#/components/parameters/FapiInteractionId'
    get:
      summary: Get the given organisation's details
      tags:
      - Organisations v2.2
      parameters:
      - $ref: '#/components/parameters/OrganisationId'
      security:
      - RaidiamAuth:
        - directory:software
      responses:
        '200':
          $ref: '#/components/responses/OrganisationGetFromSCIM200OKResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/403ForbiddenResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
  /v2.2/organisation/{OrganisationId}/contact/{ContactType}:
    parameters:
    - $ref: '#/components/parameters/FapiInteractionId'
    get:
      summary: Get the business or the technical contacts for the given organisation
      tags:
      - Contacts v2.2
      parameters:
      - $ref: '#/components/parameters/OrganisationId'
      - $ref: '#/components/parameters/ContactType'
      security:
      - RaidiamAuth:
        - directory:software
      responses:
        '200':
          $ref: '#/components/responses/Contact200OKResponse'
        '400':
          $ref: '#/components/responses/400BadRequestResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
        '500':
          $ref: '#/components/responses/500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/502BadGatewayResponse'
  /v2.2/organisation/{OrganisationId}/software-statement:
    parameters:
    - $ref: '#/components/parameters/OrganisationId'
    - $ref: '#/components/parameters/FapiInteractionId'
    post:
      summary: Create a software statement
      description: '**Creation only.** This scope confers creation of a software statement and nothing further.
        Updating an existing software statement is served separately, under `directory:software` and only to a client
        belonging to that software statement; the legacy specification defines no delete.'
      tags:
      - Software Statements v2.2
      security:
      - RaidiamAuth:
        - directory:software:organisation:application:management
      requestBody:
        $ref: '#/components/requestBodies/SoftwareStatement'
      responses:
        '201':
          $ref: '#/components/responses/SoftwareStatement201CreatedResponse'
        '400':
          $ref: '#/components/responses/400BadRequestResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
        '500':
          $ref: '#/components/responses/500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/502BadGatewayResponse'
    get:
      summary: Get all software statements for the given organisation
      tags:
      - Software Statements v2.2
      security:
      - RaidiamAuth:
        - directory:software
      responses:
        '200':
          $ref: '#/components/responses/SoftwareStatementsGet200OKResponse'
        '400':
          $ref: '#/components/responses/400BadRequestResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
        '500':
          $ref: '#/components/responses/500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/502BadGatewayResponse'
  /v2.2/organisation/{OrganisationId}/software-statement/{SoftwareStatementId}:
    parameters:
    - $ref: '#/components/parameters/OrganisationId'
    - $ref: '#/components/parameters/SoftwareStatementId'
    - $ref: '#/components/parameters/FapiInteractionId'
    get:
      summary: Get a software statement
      tags:
      - Software Statements v2.2
      security:
      - RaidiamAuth:
        - directory:software
      responses:
        '200':
          $ref: '#/components/responses/SoftwareStatement201CreatedResponse'
        '400':
          $ref: '#/components/responses/400BadRequestResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
        '500':
          $ref: '#/components/responses/500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/502BadGatewayResponse'
    put:
      summary: Activate or deactive a software statement
      description: '**A software statement may only be updated by itself.** The calling client must belong to the
        software statement identified by `SoftwareStatementId`, presenting its own credentials. A client belonging
        to a *different* software statement of the same organisation cannot update it, and this includes a client
        holding `directory:software:organisation:application:management` - that scope confers creation of a software
        statement and nothing further. Updates are also available interactively in the Raidiam Connect WebUI.'
      tags:
      - Software Statements v2.2
      requestBody:
        $ref: '#/components/requestBodies/SoftwareStatementState'
      security:
      - RaidiamAuth:
        - directory:software
      responses:
        '200':
          $ref: '#/components/responses/SoftwareStatementUpdated200OKResponse'
        '400':
          $ref: '#/components/responses/400BadRequestResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
        '500':
          $ref: '#/components/responses/500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/502BadGatewayResponse'
  /v2.2/organisation/{OrganisationId}/software-statement/{SoftwareStatementId}/redirect-uri:
    parameters:
    - $ref: '#/components/parameters/OrganisationId'
    - $ref: '#/components/parameters/SoftwareStatementId'
    - $ref: '#/components/parameters/FapiInteractionId'
    post:
      summary: Add a redirect URI to the given Software Statement
      description: '**Only the software statement itself may add a redirect URI.** The calling client must belong
        to the software statement identified by `SoftwareStatementId`, presenting its own credentials, exactly as
        for updating the software statement. A client belonging to a *different* software statement of the same
        organisation cannot add one, and neither can one holding `directory:software:organisation:application:management`.
        Redirect URIs are also carried on the software statement itself, so they can equally be maintained through
        `PUT` on it; this endpoint is retained so that existing integrations registering redirect URIs individually
        keep working.'
      tags:
      - Software Statement Redirect URIs v2.2
      requestBody:
        $ref: '#/components/requestBodies/SoftwareStatementRedirectURI'
      security:
      - RaidiamAuth:
        - directory:software
      responses:
        '200':
          $ref: '#/components/responses/SoftwareStatementUpdated200OKResponse'
        '400':
          $ref: '#/components/responses/400BadRequestResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
        '409':
          $ref: '#/components/responses/409ConflictResponse'
        '500':
          $ref: '#/components/responses/500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/502BadGatewayResponse'
  /v2.2/organisation/{OrganisationId}/software-statement/{SoftwareStatementId}/software-statement-assertion:
    parameters:
    - $ref: '#/components/parameters/OrganisationId'
    - $ref: '#/components/parameters/SoftwareStatementId'
    - $ref: '#/components/parameters/FapiInteractionId'
    get:
      summary: Retrieve the software statement assertion for the given SoftwareStatementID.
      description: |-
        # Depending on the type of participant, one of the following pre-conditions must be met in order to generate an SSA:
         * EU TPPs NOT on the TPR  must hold at least one eIDAS certificate.
         * EU TPPs on the TPR must hold at least one eIDAS or OB certiticate.
         * UK TPPs on the TPR must hold at least one OB certificate.
        The response body is a signed JWT and the values found in the header and the payload of the SSA are specified below
        # Terminology
          This specification uses the terms "access token", "authorization code", "authorization endpoint", "authorization grant", "authorization server", "client", "client identifier", "client secret", "grant type", "protected resource", "redirection URI", "refresh token", "resource owner", "resource server", "response type", and "token endpoint" defined by OAuth 2.0 [RFC6749] and uses the term "Claim" defined by JSON Web Token (JWT) [RFC7519].
          * __Account Servicing Payment Services Provider (ASPSP)__ -- An organisation managing customer accounts (and operating banking APIs).
          * __Primary Technical Contact__ -- The person at the TPP who creates an SSA and invokes a registration mechanism. This is an example of an [RFC7591] Client Developer.
          * __OB Organisation ID__ -- The unique identifier for each OpenBanking participant. Both TPPs and ASPSPs have OB Organisation IDs.
          * __OpenBanking Directory__ -- An implementation of a [PSD2] competent authority; acts as an Identity Provider, certificate authority, and registry governing the participants in the UK OpenBanking API scheme.
          * __ASPSP Registration Endpoint__ -- OAuth 2.0 & [RFC7591] compliant endpoint, exact value is discoverable from the [OIDCD] openid-configuration file of the ASPSP.
          * __Software Statement Assertion (SSA)__ -- An implementation of an [RFC7591] software statement, signed by the OpenBanking Directory.
          * __Trusted Third Party (TPP)__ -- An organization working to initiate payments or consume account information with/from an ASPSP.
          * __TPP Client Software__ -- software implementing an OAuth2 client, interacting with an ASPSP registration endpoint.
        # Software Statement Assertion (SSA)
          The SSA is a JSON Web Token (JWT) containing client metadata about an instance of TPP client software. The JWT is issued and signed by the OpenBanking Directory.
        ## SSA Payload
          The payload of an OpenBanking SSA MUST be a compliant software statement according to [RFC7591]. The SSA MUST also be a compliant JWT according to [RFC7519]. The following metadata profiles the metadata in [RFC7591] and [RFC7519]:
          | Metadata | Description | Source Specification |
          |----------|-------------|----------------------|
          |`software_id`|Unique Identifier for TPP Client Software|[RFC7591]|
          |`iss`|SSA Issuer|[RFC7519]|
          |`iat`|Time SSA issued|[RFC7519]|
          |`jti`|JWT ID|[RFC7519]|
          The following software metadata is additionally defined for this profile:
          |Metadata |Description |Field Size |Default values |
          |---------|------------|-----------|---------------|
          |`software_client_id`|The Client ID Registered at OB used to access OB resources|Base62 GUID (22 chars)| |
          |`software_client_description`|Human-readable detailed description of the client|Max256Text| |
          |`software_client_name`|Human-readable Software Name|Max40Text| |
          |`software_client_uri`|The website or resource root uri|Max256Text| |
          |`software_version`|The version number of the software should a TPP choose to register and / or maintain it|Max42Text| |
          |`software_environment`|Requested additional field to avoid certificate check|Max256Text| |
          |`software_jwks_endpoint`|Contains all active signing and network certs for the software|Max256Text| |
          |`software_jwks_revoked_endpoint`|Contains all revoked signing and network certs for the software|Max256Text| |
          |`software_logo_uri`|Link to the TPP logo. Note, ASPSPs are not obliged to display images hosted by third parties|Max256Text| |
          |`software_mode`|ASPSP Requested additional field to indicate that this software is `Test` or `Live` the default is `Live`. Impact and support for `Test` software is up to the ASPSP.|Max40Text| |
          |`software_on_behalf_of_org`|A reference to fourth party organsiation resource on the OB Directory if the registering TPP is acting on behalf of another.|Max40Text| |
          |`software_policy_uri`|A link to the software's policy page|Max256Text| |
          |`software_redirect_uris`|Registered client callback endpoints as registered with Open Banking|A string array of Max256Text items|
          |`software_roles`|A multi value list of PSD2 roles that this software is authorized to perform.|A string array of Max256Text items| |
          |`software_tos_uri`|A link to the software's terms of service page|Max256Text| |
          The following Organisational metadata is defined for this profile:
          |Metadata |Description |Field Size | Default values |
          |---------|------------|-----------|----------------|
          |`organisation_competent_authority_claims`|Authorisations granted to the organsiation by an NCA|CodeList {`AISP`, `PISP`, `CBPII`, `ASPSP`}| |
          |`org_status`|Included to cater for voluntary withdrawal from OB scenarios|`Active`, `Revoked`, or `Withdrawn`| |
          |`org_id`|The Unique TPP or ASPSP ID held by OpenBanking.|Max35Text| |
          |`org_name`|Legal Entity Identifier or other known organisation name|Max140Text| |
          |`org_contacts`|JSON array of objects containing a triplet of name, email, and phone number|Each item Max256Text| |
          |`org_jwks_endpoint`|Contains all active signing and network certs for the organisation|Max256Text| |
          |`org_jwks_revoked_endpoint`|Contains all revoked signing and network certs for the organisation|Max256Text| |
        ## SSA header
          The SSA header MUST comply with [RFC7519].
          |Metadata |Description |Comments |
          |---------|------------|---------|
          |`typ`|MUST be set to `JWT`| |
          |`alg`|MUST be set to `ES256` or `PS256`| |
          |`kid`|The kid will be kept the same as the `x5t` parameter. (X.509 Certificate SHA-1 Thumbprint) of the signing certificate.| |
          ### Example SSA
          The elements defined in the software statement will consist of the following values.
          *Note that there are inconsistent applications of booleans or "Active" strings in the current data model.*
          *Note that there are inconsistent applications of status flags case sensitivity.*
          *The attributes required to be displayed by ASPSPs.*
        ```
        {
          "typ": "JWT",
          "alg": "ES256",
          "kid": "ABCD1234"
        }
        {
          "iss": "OpenBanking Ltd",
          "iat": 1492756331,
          "jti": "id12345685439487678",
          "software_environment": "production",
          "software_mode": "live",
          "software_id": "65d1f27c-4aea-4549-9c21-60e495a7a86f",
          "software_client_id": "Open Banking TPP Client Unique ID",
          "software_client_name": "Amazon Prime Movies",
          "software_client_description": "Amazon Prime Movies is a movie streaming service",
          "software_version": "2.2.2",
          "software_client_uri": "https://prime.amazon.com",
          "software_redirect_uris": [
            "https://prime.amazon.com/cb",
            "https://prime.amazon.co.uk/cb"
          ],
          "software_roles": [
            "PISP",
            "AISP"
          ],
          "organisation_competent_authority_claims": {
            "authority_id": "FMA", // Austrian Financial Market Authority
            "registration_id": "111111",
            "status": "Active",
            "authorisations":  [
              {
                "member_state": "GB",
                "roles": [
                  "PISP",
                  "AISP"
                ]
              },
              {
                "member_state": "IR",
                "roles": [
                  "PISP"
                ]
              }
            ]
          },
          "software_logo_uri": "https://prime.amazon.com/logo.png",
          "org_status": "Active",
          "org_id": "Amazon TPPID",
          "org_name": "OpenBanking TPP Registered Name",
          "org_contacts": [
            {
              "name": "contact name",
              "email": "contact@contact.com",
              "phone": "+447890130558"
              "type": "business"
            },
            {
              "name": "contact name",
              "email": "contact@contact.com",
              "phone": "+447890130558",
              "type": "technical"
            }
          ],
          "org_jwks_endpoint": "https://jwks.openbanking.org.uk/org_id/org_id.jkws",
          "org_jwks_revoked_endpoint": "https://jwks.openbanking.org.uk/org_id/revoked/org_id.jkws",
          "software_jwks_endpoint": "https://jwks.openbanking.org.uk/org_id/software_id.jkws",
          "software_jwks_revoked_endpoint": "https://jwks.openbanking.org.uk/org_id/revoked/software_id.jkws",
          "software_policy_uri": "https://tpp.com/policy.html",
          "software_tos_uri": "https://tpp.com/tos.html",
          "software_on_behalf_of_org": "Acme Ltd"
        }
        {
          Signature
        }
        ```
        # Automated Client Registration
        A TPP MAY use automated client registration to submit an SSA to an ASPSP in exchange for client credentials for use as a client against an OAuth 2.0 Authorization Server. It is RECOMMENDED for ASPSPs to support the automated client registration mechanism. A large number of claims that OpenID Connect OPs could support as part of the RFC7591 request are detailed [https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata) and should be followed if not explicitly referenced in the Software Statement Assertion claim set.
        ## Request Validation
        Prior to issuing a client registration response, the ASPSP MUST perform the following checks
        * The ASPSP SHOULD check whether the TPP that initiated the TLS connection is the same TPP as listed in the SSA.
        * In the case where a gateway or other piece of infrastructure pre-terminates the MATLS channel in front of the registration endpoint, the certificate used to initiate the connection or some part of that certificate (such as DN & Issuer) SHOULD be made available to the ASPSP for validation against the claims in the SSA.
        * The registration request MUST be signed with a key contained in the JWKS referenced in the SSA included with the request. This ensures that a holder-of-key proof-of-possession is performed proving that the TPP app was the originally intended recipient of the SSA when the OB issued it.
        * The SSA MUST be validated according to [RFC7519], including validation of the signature and validity window.
        JWT signature must be validated, this involves retrieving the jwks keyset for both the OB and the TPP. The OB keystore location will be published as part of the directory specification, The TPP's will be included in the software statement.
        ### SSA Lifetime
        The SSA's Lifetime / Validity period is not defined by Open Banking. ASPSPs in the Open Banking ecosystem are required to implement pragmatic time ranges in which to accept an SSA. For example, an ASPSP that has implemented Dynamic Client Registration may choose to accept SSA's that were issued no earlier than 1 minute prior to their presentation however ASPSPs that only support manual registration may need to accept SSAs that were issued 30 minutes prior as the elapsed time period between generation and use between these two flows is expected to differ significantly.
      tags:
      - Software Statement Assertions v2.2
      security:
      - RaidiamAuth:
        - directory:software
      responses:
        '200':
          $ref: '#/components/responses/SoftwareStatementAssertion200OKResponse'
        '400':
          $ref: '#/components/responses/400BadRequestResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
        '500':
          $ref: '#/components/responses/500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/502BadGatewayResponse'
  /v2.2/organisation/{OrganisationId}/certificate:
    parameters:
    - $ref: '#/components/parameters/OrganisationId'
    - $ref: '#/components/parameters/FapiInteractionId'
    get:
      summary: Get the certificates for the given organisation
      tags:
      - Organisation Certificates v2.2
      security:
      - RaidiamAuth:
        - directory:software
      responses:
        '200':
          $ref: '#/components/responses/CertificatesOrKeysGet200OKResponse'
        '400':
          $ref: '#/components/responses/400BadRequestResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
        '500':
          $ref: '#/components/responses/500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/502BadGatewayResponse'
  /v2.2/organisation/{OrganisationId}/certificate/{OrganisationCertificateType}:
    parameters:
    - $ref: '#/components/parameters/OrganisationId'
    - $ref: '#/components/parameters/OrganisationCertificateType'
    - $ref: '#/components/parameters/FapiInteractionId'
    post:
      summary: Store or create a new certificate of the given OrganisationCertificateType for the given organisation
      tags:
      - Organisation Certificates v2.2
      requestBody:
        $ref: '#/components/requestBodies/CertificateOrCSROrJWS'
      security:
      - RaidiamAuth:
        - directory:software:organisation:cert:management
      responses:
        '201':
          $ref: '#/components/responses/CertificateOrKey201CreatedResponse'
        '400':
          $ref: '#/components/responses/400BadRequestResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
        '500':
          $ref: '#/components/responses/500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/502BadGatewayResponse'
    get:
      summary: Get the certificates of the given OrganisationCertificateType for the given oranisation
      tags:
      - Organisation Certificates v2.2
      security:
      - RaidiamAuth:
        - directory:software
      responses:
        '200':
          $ref: '#/components/responses/CertificatesOrKeysGet200OKResponse'
        '400':
          $ref: '#/components/responses/400BadRequestResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
        '500':
          $ref: '#/components/responses/500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/502BadGatewayResponse'
  /v2.2/organisation/{OrganisationId}/certificate/kid/{CertificateOrKeyId}:
    parameters:
    - $ref: '#/components/parameters/OrganisationId'
    - $ref: '#/components/parameters/CertificateOrKeyId'
    - $ref: '#/components/parameters/FapiInteractionId'
    get:
      summary: Retrieve a certificate with the given CertificateOrKeyId
      tags:
      - Organisation Certificates v2.2
      security:
      - RaidiamAuth:
        - directory:software
      responses:
        '200':
          $ref: '#/components/responses/CertificateOrKeyGet200OKResponse'
        '400':
          $ref: '#/components/responses/400BadRequestResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
        '500':
          $ref: '#/components/responses/500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/502BadGatewayResponse'
    delete:
      summary: Revoke or remove a certificate with the given CertificateOrKeyId
      tags:
      - Organisation Certificates v2.2
      security:
      - RaidiamAuth:
        - directory:software:organisation:cert:management
      responses:
        '204':
          $ref: '#/components/responses/204NoContentResponse'
        '400':
          $ref: '#/components/responses/400BadRequestResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
        '500':
          $ref: '#/components/responses/500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/502BadGatewayResponse'
  /v2.2/organisation/{OrganisationId}/software-statement/{SoftwareStatementId}/certificate:
    parameters:
    - $ref: '#/components/parameters/OrganisationId'
    - $ref: '#/components/parameters/SoftwareStatementId'
    - $ref: '#/components/parameters/FapiInteractionId'
    get:
      summary: Get certificates for the given software statement
      tags:
      - Software Statement Certificates v2.2
      security:
      - RaidiamAuth:
        - directory:software
      responses:
        '200':
          $ref: '#/components/responses/CertificatesOrKeysGet200OKResponse'
        '400':
          $ref: '#/components/responses/400BadRequestResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
        '500':
          $ref: '#/components/responses/500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/502BadGatewayResponse'
  /v2.2/organisation/{OrganisationId}/software-statement/{SoftwareStatementId}/certificate/{SoftwareStatementCertificateOrKeyType}:
    parameters:
    - $ref: '#/components/parameters/OrganisationId'
    - $ref: '#/components/parameters/SoftwareStatementId'
    - $ref: '#/components/parameters/SoftwareStatementCertificateOrKeyType'
    - $ref: '#/components/parameters/FapiInteractionId'
    post:
      summary: Add a key or create a new certificate for the given software statement
      tags:
      - Software Statement Certificates v2.2
      requestBody:
        $ref: '#/components/requestBodies/CSROrKey'
      security:
      - RaidiamAuth:
        - directory:software:cert:management
      - RaidiamAuth:
        - directory:software
      responses:
        '201':
          $ref: '#/components/responses/CertificateOrKey201CreatedResponse'
        '400':
          $ref: '#/components/responses/400BadRequestResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
        '500':
          $ref: '#/components/responses/500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/502BadGatewayResponse'
    get:
      summary: Get the certificates of the given type for the given software statement
      tags:
      - Software Statement Certificates v2.2
      security:
      - RaidiamAuth:
        - directory:software
      responses:
        '200':
          $ref: '#/components/responses/CertificatesOrKeysGet200OKResponse'
        '400':
          $ref: '#/components/responses/400BadRequestResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
        '500':
          $ref: '#/components/responses/500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/502BadGatewayResponse'
  /v2.2/organisation/{OrganisationId}/software-statement/{SoftwareStatementId}/certificate/{OrganisationAssociativeCertificateType}/{CertificateOrKeyId}:
    parameters:
    - $ref: '#/components/parameters/OrganisationId'
    - $ref: '#/components/parameters/SoftwareStatementId'
    - $ref: '#/components/parameters/OrganisationAssociativeCertificateType'
    - $ref: '#/components/parameters/CertificateOrKeyId'
    - $ref: '#/components/parameters/FapiInteractionId'
    put:
      summary: Associate/de-associate a QSEAL/OBSEAL certificate with the given software statement
      tags:
      - Certificate Associations v2.2
      requestBody:
        $ref: '#/components/requestBodies/CertificateOrKeyAssociation'
      security:
      - RaidiamAuth:
        - directory:software:cert:management
      responses:
        '200':
          $ref: '#/components/responses/CertificateAssociatedWithASoftwareStatement200AcceptedResponse'
        '204':
          $ref: '#/components/responses/204NoContentResponse'
        '400':
          $ref: '#/components/responses/400BadRequestResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
        '409':
          $ref: '#/components/responses/409ConflictResponse'
        '500':
          $ref: '#/components/responses/500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/502BadGatewayResponse'
    get:
      summary: Get the certificate of the given type and ID for the given software statement
      tags:
      - Software Statement Certificates v2.2
      security:
      - RaidiamAuth:
        - directory:software
      responses:
        '200':
          $ref: '#/components/responses/CertificateOrKeyGet200OKResponse'
        '400':
          $ref: '#/components/responses/400BadRequestResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
        '500':
          $ref: '#/components/responses/500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/502BadGatewayResponse'
  /v2.2/organisation/{OrganisationId}/authorisation-server:
    parameters:
    - $ref: '#/components/parameters/OrganisationId'
    - $ref: '#/components/parameters/FapiInteractionId'
    get:
      summary: Get all Authorisation Servers for the given organisation
      tags:
      - Authorisation Servers v2.2
      security:
      - RaidiamAuth:
        - directory:software
      responses:
        '200':
          $ref: '#/components/responses/AuthorisationServersResponse'
        '400':
          $ref: '#/components/responses/400BadRequestResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
        '500':
          $ref: '#/components/responses/500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/502BadGatewayResponse'
  /v2.2/organisation/{OrganisationId}/authorisation-server/{AuthorisationServerId}:
    parameters:
    - $ref: '#/components/parameters/OrganisationId'
    - $ref: '#/components/parameters/AuthorisationServerId'
    - $ref: '#/components/parameters/FapiInteractionId'
    get:
      summary: Get .well-known entity
      tags:
      - Authorisation Servers v2.2
      security:
      - RaidiamAuth:
        - directory:software
      responses:
        '200':
          $ref: '#/components/responses/AuthorisationServerResponse'
        '400':
          $ref: '#/components/responses/400BadRequestResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
        '500':
          $ref: '#/components/responses/500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/502BadGatewayResponse'
  /v2.2/certificate/validate:
    parameters:
    - $ref: '#/components/parameters/FapiInteractionId'
    post:
      summary: Validate certificate
      description: '**Scope reduction.** The `passports` block of the response is sourced from the NCA API, which
        carries FCA data only. For an organisation with no FCA register data that portion of the response is empty.'
      tags:
      - Certificate Validation v2.2
      requestBody:
        $ref: '#/components/requestBodies/CertificateValidationRequestBody'
      security:
      - RaidiamAuth:
        - directory:software
      responses:
        '200':
          $ref: '#/components/responses/CertificateValidationServerResponseV2.1'
        '400':
          $ref: '#/components/responses/400BadRequestResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
        '500':
          $ref: '#/components/responses/500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/502BadGatewayResponse'
  /api/v2/nca:
    parameters:
    - $ref: '#/components/parameters/FapiInteractionId'
    get:
      summary: Get the list of NCA countries
      description: '**Dataset scope.** This deployment of the NCA API carries **FCA data only**. Data from other
        national competent authorities is not included. `GET /api/v2/nca` therefore enumerates a single country:
        a consumer that iterates countries and then fetches firms per country still works, but its outer loop now
        has one iteration.'
      tags:
      - NCA API
      security:
      - RaidiamAuth:
        - NCAReadAccess
      responses:
        '200':
          $ref: '#/components/responses/NCACountries200OKResponse'
        '400':
          $ref: '#/components/responses/Nca400BadRequestResponse'
        '404':
          $ref: '#/components/responses/Nca404NotFoundResponse'
        '500':
          $ref: '#/components/responses/Nca500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/Nca502BadGatewayResponse'
  /api/v2/nca/{NCAId}:
    parameters:
    - $ref: '#/components/parameters/FapiInteractionId'
    get:
      parameters:
      - $ref: '#/components/parameters/NCAId'
      summary: Get the list of firms for given NCA country
      description: '**Dataset scope.** This deployment of the NCA API carries **FCA data only**. Data from other
        national competent authorities is not included. `GET /api/v2/nca` therefore enumerates a single country:
        a consumer that iterates countries and then fetches firms per country still works, but its outer loop now
        has one iteration.'
      tags:
      - NCA API
      security:
      - RaidiamAuth:
        - NCAReadAccess
      responses:
        '200':
          $ref: '#/components/responses/NCAFirms200OKResponse'
        '400':
          $ref: '#/components/responses/Nca400BadRequestResponse'
        '404':
          $ref: '#/components/responses/Nca404NotFoundResponse'
        '500':
          $ref: '#/components/responses/Nca500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/Nca502BadGatewayResponse'
  /api/v2/nca/{NCAId}/{NCAFirmId}:
    parameters:
    - $ref: '#/components/parameters/FapiInteractionId'
    get:
      parameters:
      - $ref: '#/components/parameters/NCAId'
      - $ref: '#/components/parameters/NCAFirmId'
      summary: Get the latest available firms status on the given NCA register
      description: '**Dataset scope.** This deployment of the NCA API carries **FCA data only**. Data from other
        national competent authorities is not included. `GET /api/v2/nca` therefore enumerates a single country:
        a consumer that iterates countries and then fetches firms per country still works, but its outer loop now
        has one iteration.'
      tags:
      - NCA API
      security:
      - RaidiamAuth:
        - NCAReadAccess
      responses:
        '200':
          $ref: '#/components/responses/NCAOrg200OKResponse'
        '400':
          $ref: '#/components/responses/Nca400BadRequestResponse'
        '404':
          $ref: '#/components/responses/Nca404NotFoundResponse'
        '500':
          $ref: '#/components/responses/Nca500InternalServerErrorResponse'
        '502':
          $ref: '#/components/responses/Nca502BadGatewayResponse'
  /v2.2/organisation/mlastatus:
    parameters:
    - $ref: '#/components/parameters/FapiInteractionId'
    get:
      summary: Get all organisations and their MLA status that the client is authorised to retrieve
      description: |-
        Returns all organisations and their Multilateral Agreement (MLA) status data for the client to store.

        The request shape and response structure are retained unchanged from the legacy contract; the path is rebased from `/v2.1` to `/v2.2` with the rest of the directory family.
      tags:
      - MLA Status API
      security:
      - RaidiamAuth:
        - MLAReadAccess
      responses:
        '200':
          $ref: '#/components/responses/OrganisationsGetFromMLAStatus200OKResponse'
        '401':
          $ref: '#/components/responses/401UnauthorizedResponse'
        '403':
          $ref: '#/components/responses/403ForbiddenResponse'
        '404':
          $ref: '#/components/responses/404NotFoundResponse'
        '406':
          $ref: '#/components/responses/406NotAcceptableResponse'
components:
  parameters:
    AuthorisationServerId:
      name: AuthorisationServerId
      description: The authorisation server Id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/AuthorisationServerIdSchema'
    CertificateOrKeyId:
      name: CertificateOrKeyId
      description: The certificate or key Id
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/CertificateOrKeyIdSchema'
    ContactType:
      name: ContactType
      description: The contact type
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/ContactTypeSchema'
    OrganisationCertificateType:
      name: OrganisationCertificateType
      description: The certificate type
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/OrganisationCertificateTypeSchema'
    OrganisationAssociativeCertificateType:
      name: OrganisationAssociativeCertificateType
      description: The certificate type that can be associated with a software statement
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/OrganisationAssociativeCertificateTypeSchema'
    OrganisationId:
      name: OrganisationId
      description: The organsation ID
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/OrganisationIdSchema'
    SoftwareStatementCertificateOrKeyType:
      name: SoftwareStatementCertificateOrKeyType
      description: The certificate or key type that can be associated with a software statement
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/SoftwareStatementCertificateOrKeyTypeSchema'
    SoftwareStatementId:
      name: SoftwareStatementId
      description: The software statement ID
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/SoftwareStatementIdSchema'
    NCAFirmId:
      name: NCAFirmId
      description: Entity's ID assigned by the National Competent Authority
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/NCAFirmIdSchema'
    NCAId:
      name: NCAId
      description: National Competent Authority ID (nca_etsi_code)
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/NCAIdSchema'
    FapiInteractionId:
      name: x-fapi-interaction-id
      description: 'An RFC 4122 UUID used to correlate the request with its response. Optional: supply one to tie
        the call to your own logs and it is echoed back unchanged; omit it and the server generates one. Either
        way the response carries the header.'
      in: header
      required: false
      schema:
        $ref: '#/components/schemas/FapiInteractionIdSchema'
  requestBodies:
    CertificateOrCSROrJWS:
      description: |-
        * __PEM file__ -- the request `Content-Type` header must be `application/x-pem-file`. The contents of the PEM file differ depending upon `OrganisationCertificateType`. If `OrganisationCertificateType` is set to `qwac` or `qseal` then the PEM file should contain a *QWAC* or a *QSEAL* certificate respectively; if `OrganisationCertificateType` is set to `obwac` or `obseal` then the PEM file should contain a Certificate Signing Request (CSR) for an OB-issued *OBWAC* or *OBSEAL* certificate respectively.

        **`application/jwt` is not accepted.** The legacy directory additionally accepted a signed JWT carrying the CSR in a `csr` claim, or the certificate chain in an `x5c` claim, as an alternative to a PEM body. That form is not served on this layer. Submit the certificate or CSR as PEM; a request presenting `Content-Type: application/jwt` is rejected.
      required: true
      content:
        application/x-pem-file:
          schema:
            $ref: '#/components/schemas/CertificateOrKeyOrJWTSchema'
    CSROrKey:
      description: PEM file -- the contents of the PEM file will differ depending upon *SoftwareStatementCertificateOrKeyType*.
        If *SoftwareStatementCertificateOrKeyType* is set to *obsigning* or *obtransport* then the PEM file should
        contain a Certificate Signing Request (CSR) for an OB signing or OB transport certificate respectively;
        if *SoftwareStatementCertificateOrKeyType* is set to *sigkey*, *enckey* then the PEM file should contain
        a public signing or encryption key respectively.
      required: true
      content:
        application/x-pem-file:
          schema:
            $ref: '#/components/schemas/CertificateOrKeyOrJWTSchema'
    CertificateOrKeyAssociation:
      description: Certificate or Key Association Payload
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CertificateOrKeyAssociationSchema'
    CertificateValidationRequestBody:
      description: Certificate Validation Payload
      required: true
      content:
        application/x-pem-file:
          schema:
            $ref: '#/components/schemas/CertificateValidationSchema'
    SoftwareStatement:
      description: Software Statement payload
      required: true
      content:
        application/vnd.openbanking.directory.softwarestatement-v2+json:
          schema:
            $ref: '#/components/schemas/SoftwareStatementCreateSchema'
    SoftwareStatementRedirectURI:
      description: Redirect Uri's for the registered piece of software. May be overridden by the RFC7591 payload.
        This field is searchable and is not included as part of the response payload when unassigned.
      required: true
      content:
        text/plain:
          schema:
            $ref: '#/components/schemas/SoftwareStatementRedirectURISchema'
    SoftwareStatementState:
      description: Payload used to deactivate/reactivate a Software Statement
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SoftwareStatementStateSchema'
  responses:
    204NoContentResponse:
      description: No Content
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
    400BadRequestResponse:
      description: Bad Request
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
    401UnauthorizedResponse:
      description: Unauthorized
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
    403ForbiddenResponse:
      description: Forbidden
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
    404NotFoundResponse:
      description: Not found
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
    406NotAcceptableResponse:
      description: Not Acceptable
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
    409ConflictResponse:
      description: Conflict
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
    502BadGatewayResponse:
      description: Bad Gateway
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
    500InternalServerErrorResponse:
      description: Internal Server Error
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
    AuthorisationServerResponse:
      description: OK
      content:
        application/vnd.openbanking.directory.authorisationserver-v2+json:
          schema:
            $ref: '#/components/schemas/AuthorisationServerSchema'
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
    AuthorisationServersResponse:
      description: OK
      content:
        application/vnd.openbanking.directory.authorisationserver-list-v2+json:
          schema:
            $ref: '#/components/schemas/AuthorisationServersSchema'
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
    CertificatesOrKeysGet200OKResponse:
      description: OK
      content:
        application/jwk-set+json:
          schema:
            $ref: '#/components/schemas/CertificatesOrKeysGetSchema'
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
    CertificateOrKeyGet200OKResponse:
      description: OK
      content:
        application/jwk+json:
          schema:
            $ref: '#/components/schemas/CertificateOrKeyGetSchema'
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
    CertificateOrKey201CreatedResponse:
      description: Created
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
      content:
        application/jwk+json:
          schema:
            $ref: '#/components/schemas/CertificateOrKeyGetSchema'
    CertificateAssociatedWithASoftwareStatement200AcceptedResponse:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
      content:
        application/jwk+json:
          schema:
            $ref: '#/components/schemas/CertificateOrKeyGetSchema'
    CertificateValidationServerResponseV2.1:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CertificateValidationResponseSchemaV2.1'
    Contact200OKResponse:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
      content:
        application/vnd.openbanking.directory.orgcontacts-v2+json:
          schema:
            $ref: '#/components/schemas/ContactSchema'
    OrganisationsGetFromSCIM200OKResponse:
      description: |
        List of the organisation - Schema in scim-swagger.json
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/OrganisationsGetFromSCIM200OKResponseSchema'
    OrganisationGetFromSCIM200OKResponse:
      description: |
        Full details of the organisation - Schema in scim-swagger.json
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/OrganisationGetFromSCIM200OKResponseSchema'
    SoftwareStatementsGet200OKResponse:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
      content:
        application/vnd.openbanking.directory.softwarestatement-list-v2+json:
          schema:
            $ref: '#/components/schemas/SoftwareStatementsSchema'
    SoftwareStatementAssertion200OKResponse:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
      content:
        application/jws+json:
          schema:
            $ref: '#/components/schemas/SoftwareStatementAssertionSchema'
    SoftwareStatement201CreatedResponse:
      description: Created
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
      content:
        application/vnd.openbanking.directory.softwarestatement-v2+json:
          schema:
            $ref: '#/components/schemas/SoftwareStatementSchema'
    SoftwareStatementUpdated200OKResponse:
      description: OK
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
      content:
        application/vnd.openbanking.directory.softwarestatement-v2+json:
          schema:
            $ref: '#/components/schemas/SoftwareStatementSchema'
    NCACountries200OKResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NCACountriesSchema'
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
    NCAFirms200OKResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NCAFirmsSchema'
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
    NCAOrg200OKResponse:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OrganisationNCASchema'
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
    Nca400BadRequestResponse:
      description: Bad Request
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
    Nca404NotFoundResponse:
      description: Not found
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
    Nca502BadGatewayResponse:
      description: Bad Gateway
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
    Nca500InternalServerErrorResponse:
      description: Internal Server Error
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
    OrganisationsGetFromMLAStatus200OKResponse:
      description: |
        List of the organisations and their MLA status.
      headers:
        x-fapi-interaction-id:
          description: The `x-fapi-interaction-id` from the request, echoed unchanged, or a server-generated one
            if the request did not carry the header.
          schema:
            $ref: '#/components/schemas/FapiInteractionIdSchema'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OrganisationsGetFromMLAStatus200OKResponseSchema'
  schemas:
    AuthorisationSchema:
      type: object
      properties:
        Active:
          type: boolean
        MemberState:
          type: string
          description: Member state. This field is searchable.
          enum:
          - AT
          - BE
          - BG
          - CY
          - CZ
          - DE
          - DK
          - EE
          - EL
          - ES
          - FI
          - FR
          - GB
          - GG
          - GI
          - GR
          - HR
          - HU
          - IE
          - IM
          - IS
          - IT
          - JE
          - LI
          - LT
          - LU
          - LV
          - MT
          - NL
          - 'NO'
          - PL
          - PT
          - RO
          - SE
          - SI
          - SK
        Psd2Role:
          type: string
          enum:
          - ASPSP
          - AISP
          - PISP
          - CBPII
          description: |
            Psd2 Role in which institution authorised. This field is searchable.
              * `AISP` - Account Information Service Provider
              * `ASPSP` - Account Servicing Payment Service Provider
              * `CBPII` - Card-Based Payment Instrument Issuer
              * `PISP` - Payment Initiation Service Provider
      required:
      - Active
      - MemberState
      - Psd2Role
    AuthorisationAuthoritySchema:
      type: object
      properties:
        AuthorityId:
          type: string
          maxLength: 255
          description: Authority identifier. This field is searchable.
        AuthorizationDomain:
          type: string
          enum:
          - PSD2
          - Pay.UK
          - CD
          description: Authorisation Domain. This field is searchable.
        MemberState:
          type: string
          description: Member state. This field is searchable.
          enum:
          - AT
          - BE
          - BG
          - CY
          - CZ
          - DE
          - DK
          - EE
          - EL
          - ES
          - FI
          - FR
          - GB
          - GG
          - GI
          - GR
          - HR
          - HU
          - IE
          - IM
          - IS
          - IT
          - JE
          - LI
          - LT
          - LU
          - LV
          - MT
          - NL
          - 'NO'
          - PL
          - PT
          - RO
          - SE
          - SI
          - SK
        RegistrationId:
          type: string
          maxLength: 255
          description: Registration Id with the principle authority. This field is searchable.
        X509OrganisationIdentifier:
          type: array
          items:
            type: string
            maxLength: 255
      required:
      - AuthorityId
      - RegistrationId
      - X509OrganisationIdentifier
    AuthorisationDomainStatusSchema:
      type: object
      properties:
        AuthorizationDomain:
          type: string
          enum:
          - PSD2
          - Pay.UK
          - CD
          description: Authorisation Domain. This field is searchable.
        Status:
          type: string
          enum:
          - Active
          - Withdrawn
          - Revoked
          - Requested
          - Rejected
          description: |
            Indicates whether authorisation domain is active. This field is searchable. * `Active` - participant can take actions in ecosystem in authorisation domains that he is assigned to. * `Withdrawn` - revocation initiated by participants * `Revoked` - participant can't take actions in ecosystem because of privileges loss * `Requested` - set after dynamic client registration, to be confirmed by CRM * `Rejected` - dynamic client registration rejected
    AuthorisationDomainStatusRootSchema:
      type: object
      properties:
        Status:
          description: Status of an organisation in a particular authorisation domain.
          type: array
          items:
            $ref: '#/components/schemas/AuthorisationDomainStatusSchema'
    AuthorisationV11Schema:
      type: object
      properties:
        Active:
          type: boolean
        AuthorityId:
          type: string
          maxLength: 255
          description: Authority identifier. This field is searchable.
        AuthorizationDomain:
          type: string
          description: Authorisation Domain for which the authorisation server is created.
          enum:
          - PSD2
          - Pay.UK
          - CD
        MemberState:
          type: string
          description: Member state. This field is searchable.
          enum:
          - AT
          - BE
          - BG
          - CY
          - CZ
          - DE
          - DK
          - EE
          - EL
          - ES
          - FI
          - FR
          - GB
          - GG
          - GI
          - GR
          - HR
          - HU
          - IE
          - IM
          - IS
          - IT
          - JE
          - LI
          - LT
          - LU
          - LV
          - MT
          - NL
          - 'NO'
          - PL
          - PT
          - RO
          - SE
          - SI
          - SK
        Role:
          type: string
          enum:
          - AISP
          - ASPSP
          - CBPII
          - PISP
          - CD_AISP
          - CD_ASPSP
          - CD_CBPII
          description: |
            Roles for which this software statement can be used. It contains roles from one domain only. If list of roles contains ASPSP role, then any other role cannot be present. This field is searchable. Meaning of values:
              * `AISP` - Account Information Service Provider
              * `ASPSP` - Account Servicing Payment Service Provider
              * `CBPII` - Card-Based Payment Instrument Issuer
              * `PISP` - Payment Initiation Service Provider
              * `CD_AISP` - Crown Dependencies Account Information Service Provider
              * `CD_ASPSP` - Crown Dependencies Account Servicing Payment Service Provider
              * `CD_CBPII` - Crown Dependencies Card-Based Payment Instrument Issuer
    CertificateValidationResponseSchemaV2.1:
      type: object
      properties:
        data:
          type: object
          properties:
            certificate:
              type: object
              properties:
                type:
                  type: string
                  enum:
                  - obwac
                  - obseal
                  - qwac
                  - qseal
                  - obsigning
                  - obtransport
                eidas_profile:
                  type: string
                qtsp_name:
                  type: string
                qtsp_uri:
                  type: string
                roles:
                  type: array
                  items:
                    type: string
                    enum:
                    - AISP
                    - ASPSP
                    - CBPII
                    - PISP
                    - CD_AISP
                    - CD_ASPSP
                    - CD_CBPII
                    description: |
                      Meaning of values:
                        * `AISP` - Account Information Service Provider
                        * `ASPSP` - Account Servicing Payment Service Provider
                        * `CBPII` - Card-Based Payment Instrument Issuer
                        * `PISP` - Payment Initiation Service Provider
                        * `CD_AISP` - Crown Dependencies Account Information Service Provider
                        * `CD_ASPSP` - Crown Dependencies Account Servicing Payment Service Provider
                        * `CD_CBPII` - Crown Dependencies Card-Based Payment Instrument Issuer
                valid_eidas_certificate:
                  type: boolean
                valid_obietf_certificate:
                  type: boolean
                expired:
                  type: boolean
                revoked:
                  type: boolean
                check_failed:
                  type: boolean
              required:
              - type
              - eidas_profile
              - qtsp_name
              - qtsp_uri
              - roles
              - valid_eidas_certificate
              - valid_obietf_certificate
              - expired
              - revoked
              - check_failed
            organisation:
              type: object
              properties:
                onboarded_to_open_banking:
                  type: boolean
                org_name:
                  type: string
                  nullable: true
                  maxLength: 255
                passports:
                  type: object
                  properties:
                    nca_name:
                      type: object
                      properties:
                        permission_country:
                          type: array
                          items:
                            type: object
                            properties:
                              permission_type:
                                type: string
                              permissions:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    code:
                                      type: string
                                    permission:
                                      type: string
                              roles:
                                type: array
                                items:
                                  type: string
                        roles:
                          type: array
                          items:
                            type: string
                competent_authority_claims:
                  type: array
                  nullable: true
                  items:
                    type: object
                    properties:
                      authorisation_domain:
                        type: string
                        description: Authorisation Domain for which the authorisation server is created.
                        enum:
                        - PSD2
                        - Pay.UK
                        - CD
                      authority_id:
                        type: string
                        maxLength: 255
                      registration_id:
                        type: string
                        maxLength: 255
                      status:
                        type: string
                        enum:
                        - Active
                        - Withdrawn
                        - Revoked
                        - Requested
                        - Rejected
                        description: |
                          * `Active` - participant can take actions in ecosystem in authorisation domains that he is assigned to. * `Withdrawn` - revocation initiated by participants * `Revoked` - participant can't take actions in ecosystem because of privileges loss * `Requested` - set after dynamic client registration, to be confirmed by CRM * `Rejected` - dynamic client registration rejected
                      authorisations:
                        type: array
                        items:
                          $ref: '#/components/schemas/AuthorisationSchema'
                software_statements:
                  type: array
                  nullable: true
                  items:
                    type: object
                    properties:
                      software_id:
                        type: string
                        maxLength: 22
              required:
              - onboarded_to_open_banking
              - org_name
              - passports
              - competent_authority_claims
              - software_statements
    AuthorisationServerSchema:
      type: object
      properties:
        Id:
          type: string
          maxLength: 22
          description: Authorisation Server Id V39 required. This field is searchable.
        AuthorizationDomain:
          type: string
          description: Authorisation Domain for which the authorisation server is created.This field is searchable.
          enum:
          - PSD2
          - Pay.UK
          - CD
        AutoRegistrationSupported:
          type: boolean
          description: Authorisation Server supports auto-registration. This field is searchable.
        BaseApiDNSUri:
          description: Points to the Open Banking APIs V39 required. This field is searchable.
          type: string
          format: uri
          maxLength: 2083
        CustomerFriendlyDescription:
          type: string
          maxLength: 255
          description: Customer orientated description. This field is searchable and is not included as part of
            the response payload when unassigned.
        CustomerFriendlyLogoUri:
          description: uri from which a TPP can retrieve a certified logo V39 required. This field is searchable.
          type: string
          format: uri
          maxLength: 2083
        CustomerFriendlyName:
          type: string
          maxLength: 255
          description: Certified name. This field is searchable and is not included as part of the response payload
            when unassigned.
        DeveloperPortalUri:
          description: URI for TPP developer testing V39 required. This field is searchable.
          type: string
          format: uri
          maxLength: 2083
        TermsOfService:
          description: Uri from which the terms of service can be retrieved V39 required. This field is searchable.
          type: string
          format: uri
          maxLength: 2083
        OpenIDConfigEndPointUri:
          description: Uri used for Oauth2.0 OpenId Configuration V39 required. This field is searchable.
          type: string
          format: uri
          maxLength: 2083
        PayloadSigningCertLocation:
          description: The location which is used for signing certificates V39 required. This field is searchable.
          type: string
          format: uri
          maxLength: 2083
        EISCDId:
          type: array
          items:
            type: string
            description: 'Allowed lengths: 4, 6, 14. This field is searchable and is not included as part of the
              response payload when unassigned.'
        ParentAuthorisationServerId:
          type: string
          maxLength: 2083
          description: Authorisation Server Id of Parent Authorisation server, used for app to app linking. This
            field is searchable and is not included as part of the response payload when unassigned.
        ApiResourceDiscoveryEndpoint:
          description: An RFC-3986-compliant URI. This field is searchable and is not included as part of the response
            payload when unassigned.
          type: string
          format: uri
          maxLength: 2083
      required:
      - Id
      - AutoRegistrationSupported
      - BaseApiDNSUri
      - CustomerFriendlyLogoUri
      - DeveloperPortalUri
      - TermsOfService
      - OpenIDConfigEndPointUri
      - PayloadSigningCertLocation
      - EISCDId
      - CustomerFriendlyName
      - CustomerFriendlyDescription
    AuthorisationServersSchema:
      type: array
      items:
        $ref: '#/components/schemas/AuthorisationServerSchema'
    AuthorisationServerIdSchema:
      type: string
      maxLength: 22
    CertificateOrKeyOrJWTSchema:
      type: string
    CertificateOrKeyIdSchema:
      type: string
      maxLength: 255
    CertificateOrKeyAssociationSchema:
      type: object
      properties:
        associate:
          type: boolean
    CertificatesOrKeysGetSchema:
      type: object
      properties:
        keys:
          type: array
          items:
            $ref: '#/components/schemas/CertificateOrKeyGetSchema'
    CertificateOrKeyGetSchema:
      type: object
      properties:
        obOrganisationId:
          description: Open Banking Organization Identifier. This field is searchable.
          type: string
          readOnly: true
        Associations:
          description: Array of Software Statement Ids that the certificate is associated with
          type: array
          items:
            $ref: '#/components/schemas/SoftwareStatementIdSchema'
        status:
          type: string
        expiryDateTime:
          type: string
          format: date-time
        e:
          type: string
        keyType:
          type: string
          maxLength: 255
        kid:
          type: string
          maxLength: 255
        kty:
          type: string
        n:
          type: string
        use:
          type: string
        x5c:
          type: array
          items:
            description: A PKIX certificate [RFC5280]
            type: string
        x5t:
          type: string
        x5t#S256:
          type: string
        x5u:
          type: string
      required:
      - obOrganisationId
      - Associations
      - status
      - keyType
      - kid
    CertificateValidationSchema:
      type: string
    CompetentAuthoritySchema:
      type: object
      properties:
        AuthorisationAuthorities:
          type: array
          items:
            $ref: '#/components/schemas/AuthorisationAuthoritySchema'
        Authorisations:
          type: array
          items:
            $ref: '#/components/schemas/AuthorisationV11Schema'
    CompetentAuthorityClaimSchema:
      type: object
      properties:
        Authorisations:
          type: array
          items:
            $ref: '#/components/schemas/AuthorisationSchema'
        AuthorityId:
          type: string
          maxLength: 255
          description: Authority identifier. This field is searchable.
        EtsiIdentifier:
          type: string
          description: 'European Telecommunications Standards Institute Organization Identifier. This field is searchable
            and is not included as part of the response payload when unassigned. '
        MemberState:
          type: string
          description: Member state. This field is searchable.
          enum:
          - AT
          - BE
          - BG
          - CY
          - CZ
          - DE
          - DK
          - EE
          - EL
          - ES
          - FI
          - FR
          - GB
          - GG
          - GI
          - GR
          - HR
          - HU
          - IE
          - IM
          - IS
          - IT
          - JE
          - LI
          - LT
          - LU
          - LV
          - MT
          - NL
          - 'NO'
          - PL
          - PT
          - RO
          - SE
          - SI
          - SK
        RegistrationId:
          type: string
          maxLength: 255
          description: Registration Id with the principle authority. This field is searchable.
      required:
      - RegistrationId
      - EtsiIdentifier
    ContactSchema:
      type: object
      properties:
        EmailAddress:
          type: string
          description: The validation standard you can find under https://datatracker.ietf.org/doc/html/rfc5322#section-3.4.1
        PhoneNumber:
          type: string
      required:
      - EmailAddress
      - PhoneNumber
    OrganisationAssociativeCertificateTypeSchema:
      type: string
      enum:
      - obwac
      - obseal
      - qwac
      - qseal
    ContactTypeSchema:
      type: string
      enum:
      - Business
      - PBC
      - PTC
      - Registered
      - Technical
      description: |
        Meaning of values:
          * `Business` - Business
          * `PBC` - Primary Business Contact
          * `PTC` - Primary Technical Contact
          * `Registered` - Registered
          * `Technical` - Technical
    EmailAddressSchema:
      type: object
      description: The validation standard you can find under https://datatracker.ietf.org/doc/html/rfc5322#section-3.4.1
      properties:
        Name:
          type: string
          description: A name of a person or an office to which this email belongs. This field is not searchable.
          maxLength: 255
        Primary:
          type: boolean
          description: 'Indicator to show is this is the primary email address. This field is not searchable. '
        Type:
          type: string
          description: 'Type of email address. This field is not searchable. '
        Value:
          type: string
          description: 'Value of email address. This field is not searchable. The format of the email address must
            comply with standards defined here -> https://datatracker.ietf.org/doc/html/rfc5322#section-3.4.1 '
          maxLength: 255
      required:
      - Name
      - Primary
      - Type
      - Value
    LegalAuthorityClaimSchema:
      type: object
      properties:
        RegisteredId:
          type: string
          description: Company Registration Id. This field is searchable.
        RegisteredName:
          type: string
          description: Company Registered Name. This field is searchable.
        RegistrationAuthorityId:
          type: string
          description: Identification of registering Authority. This field is searchable.
          readOnly: true
      required:
      - RegisteredId
      - RegisteredName
      - RegistrationAuthorityId
    LegalAuthorityClaimRootSchema:
      type: object
      properties:
        LegalAuthorityClaims:
          type: array
          items:
            $ref: '#/components/schemas/LegalAuthorityClaimSchema'
    MetaSchema:
      type: object
      properties:
        location:
          type: string
        resourceType:
          type: string
    OrganisationSchema:
      type: object
      properties:
        CreateTimestamp:
          type: string
          description: Creation Timestamp.
        EmailAddresses:
          type: array
          description: Email addresses associated with the organization. This field is not included as part of the
            response payload when unassigned
          items:
            $ref: '#/components/schemas/EmailAddressSchema'
        ModifyTimestamp:
          type: string
          description: Modification Timestamp.
        OBAuthorisationState:
          type: string
          maxLength: 255
          description: OB Participant Authorisation State. This field is not searchable
        OBOrganisationId:
          type: string
          maxLength: 255
          description: Open Banking Organization Identifier. This field is searchable.
          readOnly: true
        OrganisationCommonName:
          type: string
          maxLength: 255
          description: The common name of the organization. This field is searchable
        PersonalAccountRoles:
          type: array
          description: Individuals who have authorised access to the organization. This field is not included as
            part of the response payload when unassigned.
          items:
            $ref: '#/components/schemas/PersonalAccountRoleSchema'
        PhoneNumbers:
          type: array
          description: Phone numbers by which an organization can be contacted. This field is not included as part
            of the response payload when unassigned.
          items:
            $ref: '#/components/schemas/PhoneNumberSchema'
        PostalAddresses:
          type: array
          items:
            $ref: '#/components/schemas/PostalAddressSchema'
        status:
          type: string
          enum:
          - Active
          - Withdrawn
          - Revoked
          - Requested
          - Rejected
          description: |
            Indicates organisation status. It is shown only when organisation has one authorisation domain. This field is searchable. * `Active` - participant can take actions in ecosystem in authorisation domains that he is assigned to. * `Withdrawn` - revocation initiated by participants * `Revoked` - participant can't take actions in ecosystem because of privileges loss * `Requested` - set after dynamic client registration, to be confirmed by CRM * `Rejected` - dynamic client registration rejected
      required:
      - OBOrganisationId
      - OrganisationCommonName
      - status
    OrganisationCertificateTypeSchema:
      type: string
      enum:
      - qwac
      - qseal
      - obwac
      - obseal
    OrganisationIdSchema:
      type: string
      maxLength: 255
    OrganisationsGetFromSCIM200OKResponseSchema:
      type: object
      properties:
        Resources:
          type: array
          items:
            $ref: '#/components/schemas/OrganisationGetFromSCIM200OKResponseSchema'
        itemsPerPage:
          type: integer
          format: int32
          description: An integer indicating the maximum number of query results per page.
        schemas:
          type: array
          items:
            type: string
        startIndex:
          type: integer
          format: int32
          description: An integer indicating the 1-based index of the first query result.
        totalResults:
          type: integer
          format: int32
    OrganisationGetFromSCIM200OKResponseSchema:
      type: object
      properties:
        AuthorisationServers:
          type: array
          items:
            $ref: '#/components/schemas/AuthorisationServerSchema'
        id:
          type: string
        meta:
          $ref: '#/components/schemas/MetaSchema'
        schemas:
          type: array
          items:
            type: string
        urn:openbanking:authorisationdomainstatus:1.0:
          $ref: '#/components/schemas/AuthorisationDomainStatusRootSchema'
        urn:openbanking:competentauthorityclaims:1.0:
          $ref: '#/components/schemas/CompetentAuthorityClaimSchema'
        urn:openbanking:legalauthorityclaims:1.0:
          $ref: '#/components/schemas/LegalAuthorityClaimRootSchema'
        urn:openbanking:organisation:1.0:
          $ref: '#/components/schemas/OrganisationSchema'
        urn:openbanking:softwarestatement:1.0:
          $ref: '#/components/schemas/SoftwareStatementRootSchema'
        urn:trustframework:competentauthorityclaims:1.1:
          $ref: '#/components/schemas/CompetentAuthoritySchema'
    PersonalAccountRoleSchema:
      type: object
      properties:
        AuthorizationDomain:
          type: string
          description: Authorisation Domain for which the authorisation server is created.This field is searchable.
          enum:
          - PSD2
          - Pay.UK
          - CD
        Role:
          type: string
          enum:
          - PBC
          - PTC
          - SBC
          - STC
          description: |
            Role which the individual holds. This field is searchable. Meaning of values:
              * `PBC` - Primary Business Contact
              * `PTC` - Primary Technical Contact
              * `SBC` - Secondary Business Contact
              * `STC` - Secondary Technical Contact
        UserName:
          type: string
          maxLength: 255
          description: User's name, email address or other identifying label. This field is searchable.
      required:
      - AuthorizationDomain
      - Role
      - UserName
    PhoneNumberSchema:
      type: object
      properties:
        Name:
          type: string
          maxLength: 255
          description: A name of a person or an office to which this phone number belongs. This field is not searchable.
        Type:
          type: string
          enum:
          - Business
          - PBC
          - PTC
          - Registered
          - Technical
          description: |
            Meaning of values:
              * `Business` - Business
              * `PBC` - Primary Business Contact
              * `PTC` - Primary Technical Contact
              * `Registered` - Registered
              * `Technical` - Technical
        Value:
          type: string
          maxLength: 255
          description: Value of phone number through which the organization can be contacted. This field is not
            searchable.
        Verified:
          type: boolean
          description: 'Flag to show that the phone number has been verified. This field is not searchable. '
      required:
      - Name
      - Type
      - Value
      - Verified
    PostalAddressSchema:
      type: object
      properties:
        AddressLine2:
          type: string
          maxLength: 255
          description: Additional address line. This field is not searchable and is not included as part of the
            response payload when unassigned
        Country:
          type: string
          description: Address Country in full. This field is not searchable.
          enum:
          - Austria
          - Belgium
          - Bulgaria
          - Cyprus
          - Czechia
          - Germany
          - Denmark
          - Estonia
          - Hellenic Republic
          - Spain
          - Finland
          - France
          - United Kingdom
          - Guernsey
          - Gibraltar
          - Greece
          - Croatia
          - Hungary
          - Ireland
          - Isle of Man
          - Iceland
          - Italy
          - Jersey
          - Liechtenstein
          - Lithuania
          - Luxembourg
          - Latvia
          - Malta
          - Netherlands
          - Norway
          - Poland
          - Portugal
          - Romania
          - Sweden
          - Slovenia
          - Slovakia
        County:
          type: string
        Name:
          type: string
          maxLength: 255
          description: 'Name of addressee. This field is not searchable. '
        PostCode:
          type: string
          description: 'Post or ZIP Code. This field is not searchable. '
        Primary:
          type: boolean
          description: 'Flag to indicate that this is the primary contact address. This field is not searchable. '
        StreetAddress:
          type: string
          maxLength: 255
          description: 'Street Address, including building number. This field is not searchable. '
        Town:
          type: string
          description: 'Postal Town. This field is not searchable. '
          maxLength: 255
        Type:
          type: string
          maxLength: 255
          description: 'Type of postal address. This field is not searchable. '
      required:
      - Country
      - Name
      - PostCode
      - Primary
      - StreetAddress
      - Town
      - Type
    SoftwareStatementCertificateOrKeyTypeSchema:
      type: string
      enum:
      - obtransport
      - obsigning
      - sigkey
      - enckey
    SoftwareStatementCreateSchema:
      type: object
      properties:
        AuthorizationDomain:
          type: string
          description: Authorisation Domain for which the software statement is created.
          enum:
          - PSD2
          - Pay.UK
          - CD
        ClientName:
          type: string
          description: Software Statement client name
          maxLength: 40
        Description:
          type: string
[...]
