openapi: 3.0.0
info:
  description: These APIs are based on the SCIM 2.0 Protocol (RFC7644). Please note that some resource names contain spaces and that may break some Swagger validators. String data types allow for a maximum 65,535 bytes unless otherwise indicated.
  version: '2.0'
  title: API Explorer
servers:
  - url: https://matls-api.openbanking.org.uk/scim/v2
    description: Production
  - url: https://matls-api.openbankingtest.org.uk/scim/v2
    description: Sandbox
paths:
  /OBAccountPaymentServiceProviders:
    get:
      tags:
        - OBAccountPaymentServiceProviders Resource Type
      summary: Search for one or more resources
      parameters:
        - $ref: '#/components/parameters/attributes'
        - $ref: '#/components/parameters/excludedAttributes'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sortBy'
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/startIndex'
        - $ref: '#/components/parameters/count'
      responses:
        '200':
          $ref: '#/components/responses/OBAccountPaymentServiceProviders200'
        default:
          $ref: '#/components/responses/Error'
      security:
        - OAuth2: []
      externalDocs:
        description: Query Resources
        url: https://tools.ietf.org/html/rfc7644#section-3.4.2
  /OBAccountPaymentServiceProviders/.search:
    post:
      tags:
        - OBAccountPaymentServiceProviders Resource Type
      summary: Search for one or more resources using HTTP POST
      description: Useful for executing searches without passing parameters that may contain sensitive information on the URL.
      requestBody:
        $ref: '#/components/requestBodies/SearchRequest'
      responses:
        '200':
          $ref: '#/components/responses/OBAccountPaymentServiceProviders200'
        default:
          $ref: '#/components/responses/Error'
      security:
        - OAuth2: []
      externalDocs:
        description: Querying Resources Using HTTP POST
        url: https://tools.ietf.org/html/rfc7644#section-3.4.3
  /OBAccountPaymentServiceProviders/{id}:
    get:
      tags:
        - OBAccountPaymentServiceProviders Resource Type
      summary: Retrieve the resource
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/attributes'
        - $ref: '#/components/parameters/excludedAttributes'
      responses:
        '200':
          $ref: '#/components/responses/SingleOBAccountPaymentServiceProviders200'
        default:
          $ref: '#/components/responses/Error'
      security:
        - OAuth2: []
      externalDocs:
        description: Retrieving a Known Resource
        url: https://tools.ietf.org/html/rfc7644#section-3.4.1
  /OBAuthorities:
    get:
      tags:
        - OBAuthorities Resource Type
      summary: Search for one or more resources
      parameters:
        - $ref: '#/components/parameters/attributes'
        - $ref: '#/components/parameters/excludedAttributes'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sortBy'
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/startIndex'
        - $ref: '#/components/parameters/count'
      responses:
        '200':
          $ref: '#/components/responses/OBAuthorities200'
        default:
          $ref: '#/components/responses/OBAuthorities200'
      security:
        - OAuth2: []
      externalDocs:
        description: Query Resources
        url: https://tools.ietf.org/html/rfc7644#section-3.4.2
  /OBAuthorities/.search:
    post:
      tags:
        - OBAuthorities Resource Type
      summary: Search for one or more resources using HTTP POST
      description: Useful for executing searches without passing parameters that may contain sensitive information on the URL.
      requestBody:
        $ref: '#/components/requestBodies/SearchRequest'
      responses:
        '200':
          $ref: '#/components/responses/OBAuthorities200'
        default:
          $ref: '#/components/responses/Error'
      security:
        - OAuth2: []
      externalDocs:
        description: Querying Resources Using HTTP POST
        url: https://tools.ietf.org/html/rfc7644#section-3.4.3
  /OBAuthorities/{id}:
    get:
      tags:
        - OBAuthorities Resource Type
      summary: Retrieve the resource
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/attributes'
        - $ref: '#/components/parameters/excludedAttributes'
      responses:
        '200':
          $ref: '#/components/responses/SingleOBAuthorities200'
        default:
          $ref: '#/components/responses/Error'
      security:
        - OAuth2: []
      externalDocs:
        description: Retrieving a Known Resource
        url: https://tools.ietf.org/html/rfc7644#section-3.4.1
  /Participants:
    get:
      tags:
        - Participants Resource Type
      summary: Search for one or more resources
      parameters:
        - $ref: '#/components/parameters/attributes'
        - $ref: '#/components/parameters/excludedAttributes'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sortBy'
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/startIndex'
        - $ref: '#/components/parameters/count'
      responses:
        '200':
          $ref: '#/components/responses/Participants200'
        default:
          $ref: '#/components/responses/Error'
      security:
        - OAuth2: []
      externalDocs:
        description: Query Resources
        url: https://tools.ietf.org/html/rfc7644#section-3.4.2
  /Participants/.search:
    post:
      tags:
        - Participants Resource Type
      summary: Search for one or more resources using HTTP POST
      description: Useful for executing searches without passing parameters that may contain sensitive information on the URL.
      requestBody:
        $ref: '#/components/requestBodies/SearchRequest'
      responses:
        '200':
          $ref: '#/components/responses/Participants200'
        default:
          $ref: '#/components/responses/Error'
      security:
        - OAuth2: []
      externalDocs:
        description: Querying Resources Using HTTP POST
        url: https://tools.ietf.org/html/rfc7644#section-3.4.3
  /Participants/{id}:
    get:
      tags:
        - Participants Resource Type
      summary: Retrieve the resource
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/attributes'
        - $ref: '#/components/parameters/excludedAttributes'
      responses:
        '200':
          $ref: '#/components/responses/SingleParticipants200'
        default:
          $ref: '#/components/responses/Error'
      security:
        - OAuth2: []
      externalDocs:
        description: Retrieving a Known Resource
        url: https://tools.ietf.org/html/rfc7644#section-3.4.1
  /OBQualifiedTrustServiceProviders:
    get:
      tags:
        - OBQualifiedTrustServiceProviders Resource Type
      summary: Search for one or more resources
      parameters:
        - $ref: '#/components/parameters/attributes'
        - $ref: '#/components/parameters/excludedAttributes'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sortBy'
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/startIndex'
        - $ref: '#/components/parameters/count'
      responses:
        '200':
          $ref: '#/components/responses/OBQualifiedTrustServiceProviders200'
        default:
          $ref: '#/components/responses/Error'
      security:
        - OAuth2: []
      externalDocs:
        description: Query Resources
        url: https://tools.ietf.org/html/rfc7644#section-3.4.2
  /OBQualifiedTrustServiceProviders/.search:
    post:
      tags:
        - OBQualifiedTrustServiceProviders Resource Type
      summary: Search for one or more resources using HTTP POST
      description: Useful for executing searches without passing parameters that may contain sensitive information on the URL.
      requestBody:
        $ref: '#/components/requestBodies/SearchRequest'
      responses:
        '200':
          $ref: '#/components/responses/OBQualifiedTrustServiceProviders200'
        default:
          $ref: '#/components/responses/Error'
      security:
        - OAuth2: []
      externalDocs:
        description: Querying Resources Using HTTP POST
        url: https://tools.ietf.org/html/rfc7644#section-3.4.3
  /OBQualifiedTrustServiceProviders/{id}:
    get:
      tags:
        - OBQualifiedTrustServiceProviders Resource Type
      summary: Retrieve the resource
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/attributes'
        - $ref: '#/components/parameters/excludedAttributes'
      responses:
        '200':
          $ref: '#/components/responses/SingleOBQualifiedTrustServiceProviders200'
        default:
          $ref: '#/components/responses/Error'
      security:
        - OAuth2: []
      externalDocs:
        description: Retrieving a Known Resource
        url: https://tools.ietf.org/html/rfc7644#section-3.4.1
  /OBThirdPartyProviders:
    get:
      tags:
        - OBThirdPartyProviders Resource Type
      summary: Search for one or more resources
      parameters:
        - $ref: '#/components/parameters/attributes'
        - $ref: '#/components/parameters/excludedAttributes'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/sortBy'
        - $ref: '#/components/parameters/sortOrder'
        - $ref: '#/components/parameters/startIndex'
        - $ref: '#/components/parameters/count'
      responses:
        '200':
          $ref: '#/components/responses/OBThirdPartyProviders200'
        default:
          $ref: '#/components/responses/Error'
      security:
        - OAuth2: []
      externalDocs:
        description: Query Resources
        url: https://tools.ietf.org/html/rfc7644#section-3.4.2
  /OBThirdPartyProviders/.search:
    post:
      tags:
        - OBThirdPartyProviders Resource Type
      summary: Search for one or more resources using HTTP POST
      description: Useful for executing searches without passing parameters that may contain sensitive information on the URL.
      requestBody:
        $ref: '#/components/requestBodies/SearchRequest'
      responses:
        '200':
          $ref: '#/components/responses/OBThirdPartyProviders200'
        default:
          $ref: '#/components/responses/Error'
      security:
        - OAuth2: []
      externalDocs:
        description: Querying Resources Using HTTP POST
        url: https://tools.ietf.org/html/rfc7644#section-3.4.3
  /OBThirdPartyProviders/{id}:
    get:
      tags:
        - OBThirdPartyProviders Resource Type
      summary: Retrieve the resource
      parameters:
        - $ref: '#/components/parameters/id'
        - $ref: '#/components/parameters/attributes'
        - $ref: '#/components/parameters/excludedAttributes'
      responses:
        '200':
          $ref: '#/components/responses/SingleOBThirdPartyProviders200'
        default:
          $ref: '#/components/responses/Error'
      security:
        - OAuth2: []
      externalDocs:
        description: Retrieving a Known Resource
        url: https://tools.ietf.org/html/rfc7644#section-3.4.1
components:
  responses:
    Error:
      description: An error occurred while executing the operation
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    OBAccountPaymentServiceProviders200:
      description: SCIM 2.0 List Response Message
      content:
        application/scim+json:
          schema:
            type: object
            properties:
              Resources:
                type: array
                description: A multi-valued list of complex objects containing the requested resources.
                items:
                  $ref: '#/components/schemas/OBAccountPaymentServiceProviders'
              itemsPerPage:
                type: integer
                format: int32
                description: The number of resources returned in a list response page.
              schemas:
                type: array
                description: Contains a list of one or more URIs representing included SCIM schemas indicating the attributes contained within a resource.
                uniqueItems: true
                items:
                  type: string
                  format: urn
                  enum:
                    - urn:ietf:params:scim:api:messages:2.0:ListResponse
                  default: urn:ietf:params:scim:api:messages:2.0:ListResponse
              startIndex:
                type: integer
                format: int32
                description: The 1-based index of the first result in the current set of list results.
              totalResults:
                type: integer
                format: int32
                description: The total number of results returned by the list or query operation.
    SingleOBAccountPaymentServiceProviders200:
      description: The retrieved resource is included in the response body
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/OBAccountPaymentServiceProviders'
    OBParticipants200:
      description: SCIM 2.0 List Response Message
      content:
        application/scim+json:
          schema:
            type: object
            properties:
              Resources:
                type: array
                description: A multi-valued list of complex objects containing the requested resources.
                items:
                  $ref: '#/components/schemas/Participants'
              itemsPerPage:
                type: integer
                format: int32
                description: The number of resources returned in a list response page.
              schemas:
                type: array
                description: Contains a list of one or more URIs that indicate included SCIM schemas that are used to indicate the attributes contained within a resource.
                uniqueItems: true
                items:
                  type: string
                  format: urn
                  enum:
                    - urn:ietf:params:scim:api:messages:2.0:ListResponse
                  default: urn:ietf:params:scim:api:messages:2.0:ListResponse
              startIndex:
                type: integer
                format: int32
                description: The 1-based index of the first result in the current set of list results.
              totalResults:
                type: integer
                format: int32
                description: The total number of results returned by the list or query operation.
    OBAuthorities200:
      description: SCIM 2.0 List Response Message
      content:
        application/scim+json:
          schema:
            type: object
            properties:
              Resources:
                type: array
                description: A multi-valued list of complex objects containing the requested resources.
                items:
                  $ref: '#/components/schemas/OBAuthorities'
              itemsPerPage:
                type: integer
                format: int32
                description: The number of resources returned in a list response page.
              schemas:
                type: array
                description: Contains a list of one or more URIs that indicate included SCIM schemas that are used to indicate the attributes contained within a resource.
                uniqueItems: true
                items:
                  type: string
                  format: urn
                  enum:
                    - urn:ietf:params:scim:api:messages:2.0:ListResponse
                  default: urn:ietf:params:scim:api:messages:2.0:ListResponse
              startIndex:
                type: integer
                format: int32
                description: The 1-based index of the first result in the current set of list results.
              totalResults:
                type: integer
                format: int32
                description: The total number of results returned by the list or query operation.
    SingleOBAuthorities200:
      description: The retrieved resource is included in the response body
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/OBAuthorities'
    Participants200:
      description: SCIM 2.0 List Response Message
      content:
        application/scim+json:
          schema:
            type: object
            properties:
              Resources:
                type: array
                description: A multi-valued list of complex objects containing the requested resources.
                items:
                  $ref: '#/components/schemas/Participants'
              itemsPerPage:
                type: integer
                format: int32
                description: The number of resources returned in a list response page.
              schemas:
                type: array
                description: Contains a list of one or more URIs that indicate included SCIM schemas that are used to indicate the attributes contained within a resource.
                uniqueItems: true
                items:
                  type: string
                  format: urn
                  enum:
                    - urn:ietf:params:scim:api:messages:2.0:ListResponse
                  default: urn:ietf:params:scim:api:messages:2.0:ListResponse
              startIndex:
                type: integer
                format: int32
                description: The 1-based index of the first result in the current set of list results.
              totalResults:
                type: integer
                format: int32
                description: The total number of results returned by the list or query operation.
    SingleParticipants200:
      description: The retrieved resource is included in the response body
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/Participants'
    OBQualifiedTrustServiceProviders200:
      description: SCIM 2.0 List Response Message
      content:
        application/scim+json:
          schema:
            type: object
            properties:
              Resources:
                type: array
                description: A multi-valued list of complex objects containing the requested resources.
                items:
                  $ref: '#/components/schemas/OBQualifiedTrustServiceProviders'
              itemsPerPage:
                type: integer
                format: int32
                description: The number of resources returned in a list response page.
              schemas:
                type: array
                description: Contains a list of one or more URIs that indicate included SCIM schemas that are used to indicate the attributes contained within a resource.
                uniqueItems: true
                items:
                  type: string
                  format: urn
                  enum:
                    - urn:ietf:params:scim:api:messages:2.0:ListResponse
                  default: urn:ietf:params:scim:api:messages:2.0:ListResponse
              startIndex:
                type: integer
                format: int32
                description: The 1-based index of the first result in the current set of list results.
              totalResults:
                type: integer
                format: int32
                description: The total number of results returned by the list or query operation.
    SingleOBQualifiedTrustServiceProviders200:
      description: The retrieved resource is included in the response body
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/OBQualifiedTrustServiceProviders'
    OBThirdPartyProviders200:
      description: SCIM 2.0 List Response Message
      content:
        application/scim+json:
          schema:
            type: object
            properties:
              Resources:
                type: array
                description: A multi-valued list of complex objects containing the requested resources.
                items:
                  $ref: '#/components/schemas/OBThirdPartyProviders'
              itemsPerPage:
                type: integer
                format: int32
                description: The number of resources returned in a list response page.
              schemas:
                type: array
                description: Contains a list of one or more URIs that indicate included SCIM schemas that are used to indicate the attributes contained within a resource.
                uniqueItems: true
                items:
                  type: string
                  format: urn
                  enum:
                    - urn:ietf:params:scim:api:messages:2.0:ListResponse
                  default: urn:ietf:params:scim:api:messages:2.0:ListResponse
              startIndex:
                type: integer
                format: int32
                description: The 1-based index of the first result in the current set of list results.
              totalResults:
                type: integer
                format: int32
                description: The total number of results returned by the list or query operation.
    SingleOBThirdPartyProviders200:
      description: The retrieved resource is included in the response body
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/OBThirdPartyProviders'
  requestBodies:
    SearchRequest:
      description: SCIM 2.0 Search Request Message
      required: false
      content:
        application/scim+json:
          schema:
            $ref: '#/components/schemas/SearchRequest'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://matls-sso.openbanking.org.uk/as/token.oauth2
          scopes:
            none: Read access on Participants resource does not require any scope
            TPPReadAll: Read access on OBThirdPartyproviders for match on Organisation Id
            ASPSPReadAccess: Read access to OBAccountPaymentServiceProviders
            TPPReadAccess: Read access on OBThirdPartyproviders
            ASPSPReadAll: Read access on OBAccountPaymentServiceProviders
            QTSPReadAccess: Read access to OBQTSP resource
            AuthoritiesReadAccess: Read access to OBAuthorities resource
  parameters:
    filter:
      name: filter
      in: query
      description: The filter string used to request a subset of resources.
      required: false
      schema:
        type: string
    startIndex:
      name: startIndex
      in: query
      description: An integer indicating the 1-based index of the first query result.
      required: false
      schema:
        type: integer
    sortOrder:
      name: sortOrder
      in: query
      description: A string indicating the order in which the 'sortBy' parameter is applied.
      required: false
      schema:
        type: string
        enum:
          - ascending
          - descending
    count:
      name: count
      in: query
      description: An integer indicating the maximum number of query results per page.
      required: false
      schema:
        type: integer
    attributes:
      name: attributes
      in: query
      description: A comma separated list of strings indicating the names of resource attributes to return in the response, overriding the set of attributes that would be returned by default. 'excludedAttributes' must not also be specified if this is specified.
      required: false
      schema:
        type: string
      style: form
    sortBy:
      name: sortBy
      in: query
      description: A string indicating the attribute whose value shall be used to order the returned responses.
      required: false
      schema:
        type: string
    id:
      name: id
      in: path
      description: The resource identifier (value of the 'id' attribute).
      required: true
      schema:
        type: string
    excludedAttributes:
      name: excludedAttributes
      in: query
      description: A comma separated list of strings indicating the names of resource attributes to be removed from the default set of attributes to return. 'attributes' must not also be specified if this is specified.
      required: false
      schema:
        type: string
      style: form
  schemas:
    OBAuthorisationState:
      type: string
      enum: ['Participant', 'Participant+TSP', 'TSP']
      description: >
        Meaning of values:
          * Participant - Entity who has roles : ASPSP, PISP, AISP, CBPII, CoP Requester, CoP Responder, CD ASPSP, CD AISP, CD PISP that are planning to be registered or fully authorised with their NCA
          * TSP - Non-regulated entity (no PSD2 authorisation required) and will only have Sandbox access
          * Participant+TSP - Non-regulated entity (no PSD2 authorisation required) and will only have Sandbox access
    PersonalAccountRoleType:
      type: string
      enum: ['PBC', 'PTC', 'SBC', 'STC']
      description: >
        Meaning of values:
          * `PBC` - Primary Business Contact
          * `PTC` - Primary Technical Contact
          * `SBC` - Secondary Business Contact
          * `STC` - Secondary Technical Contact
    ContactType:
      type: string
      enum: ['Business', 'PBC', 'PTC', 'Registered', 'Technical']
      description: >
        Meaning of values:
          * `Business` - Business
          * `PBC` - Primary Business Contact
          * `PTC` - Primary Technical Contact
          * `Registered` - Registered
          * `Technical` - Technical
    PostalAddressType:
      type: string
      enum: ['PBC', 'PTC', 'Registered']
      description: >
        Meaning of values:
          * `PBC` - Primary Business Contact
          * `PTC` - Primary Technical Contact
          * `Registered` - Registered
    CountryAlpha2Code:
      type: string
      description: Mappings of country codes to country names is available here -> https://openbanking.atlassian.net/wiki/spaces/DZ/pages/2329804801/Directory+Country+Code+Mapping
      enum: ['AT','BE','BG','CY','CZ','DE','DK','EE','EL','ES','FI','FR','GB','GG','GI','GR','HR','HU','IE','IM','IS','IT','JE','LI','LT','LU','LV','MT','NL','NO','PL','PT','RO','SE','SI','SK']
    CountryLongName:
      type: string
      enum: ['Austria', 'Belgium', 'Bulgaria', 'Cyprus', 'Czechia', 'Germany', 'Denmark', 'Estonia', 'Hellenic Republic', 'Spain', 'Finland', 'France', 'United Kingdom', 'Guernsey', 'Gibraltar', 'Greece', 'Croatia', 'Hungary', 'Ireland', 'Isle of Man', 'Iceland', 'Italy', 'Jersey', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Latvia', 'Malta', 'Netherlands', 'Norway', 'Poland', 'Portugal', 'Romania', 'Sweden', 'Slovenia', 'Slovakia']
    Role:
      type: string
      enum: ['COPRequester', 'COPResponder', 'AISP', 'ASPSP', 'CBPII', 'PISP', 'CD_AISP', 'CD_ASPSP', 'CD_CBPII']
      description: >
        Meaning of values:
          * `COPRequester` - Confirmation of Payee Requester
          * `COPResponder` - Confirmation of Payee Responder
          * `AISP` - Account Information Service Provider
          * `ASPSP` - Account Servicing Payment Service Provider
          * `CBPII` - Card-Based Payment Instrument Issuer
          * `PISP` - Payment Initiation Service Provider
          * `CD_AISP` - Crown Dependencies Account Information Service Provider
          * `CD_ASPSP` - Crown Dependencies Account Servicing Payment Service Provider
          * `CD_CBPII` - Crown Dependencies Card-Based Payment Instrument Issuer
    PSD2Role:
      type: string
      enum: ['ASPSP', 'AISP', 'PISP', 'CBPII']
      description: >
        Available in urn:openbanking:competentauthorityclaims:1.0 Authorisations. Meaning of values:
          * `AISP` - Account Information Service Provider
          * `ASPSP` - Account Servicing Payment Service Provider
          * `CBPII` - Card-Based Payment Instrument Issuer
          * `PISP` - Payment Initiation Service Provider
    QtspResourceType:
      type: string
      enum: [ 'OBQualifiedTrustServiceProviders' ]
    ParticipantsResourceType:
      type: string
      enum: [ 'participants' ]
    AuthoritiesResourceType:
      type: string
      enum: [ 'OBAccounts' ]
    AuthorisationDomainStatus:
      type: string
      enum: ['Active', 'Withdrawn', 'Revoked', 'Suspended', 'Requested', 'Rejected']
      description: >
        Available in urn:openbanking:competentauthorityclaims:1.0 Authorisations. Meaning of values:
          * `Active` - participant can take actions in ecosystem in authorization domains that he is assigned to.
          * `Withdrawn` - revocation initiated by participants
          * `Revoked` - participant can't take actions in ecosystem because of privillages loss
          * `Suspended` - temporary revocation, available only in COP authorization domain
          * `Requested` - set after dynamic client registration, to be confirmed by CRM
          * `Rejected` - dynamic client registratior rejected
    AuthorizationDomain:
      type: string
      enum: ['PSD2', 'Pay.UK', 'CD']
    ErrorResponse:
      required:
        - schemas
        - status
      properties:
        schemas:
          type: array
          description: Contains a list of one or more URIs that indicate included SCIM schemas that are used to indicate the attributes contained within a resource.
          uniqueItems: true
          items:
            type: string
            format: urn
            enum:
              - urn:ietf:params:scim:api:messages:2.0:Error
            default: urn:ietf:params:scim:api:messages:2.0:Error
        status:
          type: string
          description: The HTTP status code (see Section 6 [RFC7231]) expressed as a JSON String.
        scimType:
          type: string
          description: A SCIM detailed error keyword.
        detail:
          type: string
          description: A detailed, human readable message.
      externalDocs:
        description: HTTP Status and Error Response Handling
        url: https://tools.ietf.org/html/rfc7644#section-3.12
    SearchRequest:
      required:
        - schemas
      properties:
        schemas:
          type: array
          description: Contains a list of one or more URIs that indicate included SCIM schemas that are used to indicate the attributes contained within a resource.
          uniqueItems: true
          items:
            type: string
            format: urn
            enum:
              - urn:ietf:params:scim:api:messages:2.0:SearchRequest
            default: urn:ietf:params:scim:api:messages:2.0:SearchRequest
        attributes:
          type: array
          items:
            type: string
            description: A multi-valued list of strings indicating the names of resource attributes to return in the response, overriding the set of attributes that would be returned by default.excludedAttributes must not also be specified if this is specified.
        excludedAttributes:
          type: array
          items:
            type: string
            description: A multi-valued list of strings indicating the names of resource attributes to be removed from the default set of attributes to return. attributes must not also be specified if this is specified.
        filter:
          type: string
          description: The filter string used to request a subset of resources.
        sortBy:
          type: string
          description: A string indicating the attribute whose value shall be used to order the returned responses.
        sortOrder:
          type: string
          description: A string indicating the order in which the 'sortBy' parameter is applied.
          enum:
            - ascending
            - descending
        startIndex:
          type: integer
          format: int32
          description: An integer indicating the 1-based index of the first query result.
          minimum: 1
        count:
          type: integer
          format: int32
          description: An integer indicating the maximum number of query results per page.
          minimum: 0
    OBQualifiedTrustServiceProviders:
      required:
        - CertificateFingerprint
        - ServiceCountry
        - ServiceExtensions
        - ServiceLanguage
        - ServiceName
        - ServiceStatus
        - ServiceType
        - StatusStartingTime
        - X509Certificate
        - X509SKI
        - X509SubjectName
        - schemas
      properties:
        CertificateFingerprint:
          type: string
          description: 'SHA-256 Certificate Fingerprint. This field is searchable.'
          title: CertificateFingerprint
          maxLength: 40
          readOnly: true
        CreateTimestamp:
          type: string
          description: OB Creation Timestamp.
          title: CreateTimestamp
          readOnly: true
        ModifyTimestamp:
          type: string
          description: OB Modification Timestamp.
          title: ModifyTimestamp
          readOnly: true
        ServiceCountry:
          allOf:
            - description: 'This field is searchable. <SchemeOperatorAddress> <PostalAddresses> <PostalAddress xml:lang=en> <StreetAddress>NG III - Koning Albert II-laan 16</StreetAddress> <Locality>Brussels</Locality> <StateOrProvince>Brussels</StateOrProvince> <PostalCode>1000</PostalCode> <CountryName>BE</CountryName>'
            - $ref: '#/components/schemas/CountryAlpha2Code'
            - title: ServiceCountry
          readOnly: true
        ServiceExtensions:
          type: array
          description: <ServiceInformationExtensions> ... </ServiceInformationExtensions>
          title: ServiceExtensions
          items:
            type: object
            properties:
              AdditionalInfoLang:
                type: string
                description: This field is not searchable. <AdditionalServiceInformation> <URI xml:lang='en'> http://uri.etsi.org/TrstSvc/TrustedList/SvcInfoExt/ForWebSiteAuthentication </URI> </AdditionalServiceInformation>
                title: AdditionalInfoLang
                maxLength: 255
              AdditionalInfoURI:
                type: string
                description: This field is not searchable. <AdditionalServiceInformation> <URI xml:lang='en'> http://uri.etsi.org/TrstSvc/TrustedList/SvcInfoExt/ForWebSiteAuthentication </URI> </AdditionalServiceInformation>
                title: AdditionalInfoURI
                maxLength: 2000
              Critical:
                type: boolean
                description: This field is not searchable. <Extension Critical='true'>
                title: Critical
        ServiceLanguage:
          type: string
          description: This field is searchable. <Name xml:lang='en'>TeleSec ServerPass</Name>
          title: ServiceLanguage
        ServiceName:
          type: string
          description: This field is searchable. <Name xml:lang='en'>TeleSec ServerPass</Name>
          title: ServiceName
          readOnly: true
        ServiceStatus:
          type: string
          description: This field is searchable. <ServiceStatus> http://uri.etsi.org/TrstSvc/TrustedList/Svcstatus/granted </ServiceStatus>
          title: ServiceStatus
          maxLength: 255
        ServiceType:
          type: string
          description: 'This field is searchable. '
          title: ServiceType
          maxLength: 255
        StatusStartingTime:
          type: string
          description: This field is not searchable. <StatusStartingTime>2017-11-20T09:00:00Z</StatusStartingTime>
          title: StatusStartingTime
        X509Certificate:
          type: string
          description: This field is not searchable. <X509Certificate> MIIF1DCCBLygAwIBAgIIF00 .... </X509Certificate>
          title: X509Certificate
        X509SKI:
          type: string
          description: This field is not searchable.<X509SKI>MCzVT9II0T3jp4KSgjeJbWa5D68=</X509SKI>
          title: X509SKI
          readOnly: true
        X509SubjectName:
          type: string
          description: This field is not searchable. <X509SubjectName> CN=TeleSec ServerPass Ex ... </X509SubjectName> <X509SKI>MCzVT9II0T3jp4KSgjeJbWa5D68=</X509SKI>
          title: X509SubjectName
        id:
          type: string
          title: id
          readOnly: true
          maxLength: 40
        meta:
          type: object
          title: meta
          readOnly: true
          properties:
            location:
              type: string
              format: uri
              description: The location (URI) of the resource
              title: location
              readOnly: true
            resourceType:
              allOf:
                - $ref: '#/components/schemas/QtspResourceType'
              type: string
              description: The resource Type
              title: resourceType
              readOnly: true
        schemas:
          type: array
          title: schemas
          uniqueItems: true
          items:
            type: string
      description: eIDAS Qualified Trust Service Provider
    OBAuthorities:
      required:
        - AuthorityDescription
        - AuthorityId
        - Country
        - schemas
        - urn:openbanking:organisation:1.0
      properties:
        AuthorityDescription:
          type: string
          description: Description of the Authority
          title: AuthorityDescription
        AuthorityId:
          type: string
          description: Unique string that the Authority is commonly known by. Will be referenced by the AuthorityClaims Set.
          title: AuthorityId
          maxLength: 255
        Country:
          type: string
          description: Country in which the Authority has juristiction
          title: Country
          allOf:
            - $ref: '#/components/schemas/CountryLongName'
        id:
          type: string
          title: id
          readOnly: true
          maxLength: 255
        meta:
          type: object
          title: meta
          readOnly: true
          properties:
            location:
              type: string
              format: uri
              description: The location (URI) of the resource
              title: location
              readOnly: true
            resourceType:
              type: string
              description: The resource Type
              title: resourceType
              readOnly: true
              allOf:
                - $ref: '#/components/schemas/AuthoritiesResourceType'
        schemas:
          type: array
          title: schemas
          uniqueItems: true
          items:
            type: string
        urn:openbanking:organisation:1.0:
          required:
            - CreateTimestamp
            - ModifyTimestamp
            - OBOrganisationId
            - OrganisationCommonName
          type: object
          description: Account details for an open banking organisation which are used for SCIM access to the Directory on behalf of an accredited organisation.
          title: Organisation
          properties:
            CreateTimestamp:
              type: string
              description: 'Creation Timestamp. '
              title: CreateTimestamp
              readOnly: true
            ModifyTimestamp:
              type: string
              description: Modification Timestamp.
              title: ModifyTimestamp
              readOnly: true
            OBOrganisationId:
              type: string
              description: Open Banking Organisation Identifier. This field is searchable.
              title: OBOrganisationId
              minLength: 18
              maxLength: 18
            OrganisationCommonName:
              type: string
              description: The common name of the organisation. This field is searchable
              title: OrganisationCommonName
              maxLength: 255
            status:
              allOf:
                - type: string
                - description: 'Organisation status. This field is not searchable'
                - title: status
                - $ref: '#/components/schemas/AuthorisationDomainStatus'
      description: A schema defining the extension attributes that a competent authority has.
    Participants:
      required:
        - id
        - schemas
        - urn:openbanking:organisation:1.0
      properties:
        urn:openbanking:authorisationdomainstatus:1.0:
          type: object
          description: Status of an organisation in a particular authorization domain.
          title: AuthorizationDomainStatus
          properties:
            Status:
              type: array
              description: Status
              title: Status
              items:
                type: object
                properties:
                  AuthorizationDomain:
                    allOf:
                      - $ref: '#/components/schemas/AuthorizationDomain'
                      - description: 'Authorization Domain. This field is searchable.'
                  Status:
                    allOf:
                      - $ref: '#/components/schemas/AuthorisationDomainStatus'
                      - description: 'Indicates whether authorization domain is active. This field is searchable.'
                required:
                  - AuthorizationDomain
                  - Status
        urn:trustframework:competentauthorityclaims:1.1:
          type: object
          description: Claims (version 1.1) sourced from a competent authority(e.g. FCA) - can be applied to either TPPs to ASPSP
          title: CompetenAuthorityClaims1.1
          properties:
            AuthorisationAuthorities:
              type: array
              description: 'List of authorities details which gave authorization to the participant.'
              title: AuthorisationAuthorities
              items:
                type: object
                properties:
                  AuthorityId:
                    type: string
                    description: 'Authority identifier. This field is searchable.'
                    title: AuthorityId
                    maxLength: 255
                  AuthorizationDomain:
                    allOf:
                      - $ref: '#/components/schemas/AuthorizationDomain'
                      - description: 'Authorization domain in which authorization was given. This field is searchable.'
                    title: AuthorizationDomain
                  MemberState:
                    allOf:
                      - $ref: '#/components/schemas/CountryAlpha2Code'
                      - description: 'Member state. This field is searchable.'
                    title: MemberState
                  RegistrationId:
                    type: string
                    description: 'Registration identifier. This field is searchable.'
                    title: RegistrationId
                    maxLength: 255
                  X509OrganisationIdentifier:
                    type: array
                    description: X509OrganisationIdentifier. This field is searchable and is not included as part of the response payload when unassigned.
                    title: 'Identifier of an organisation. '
                    items:
                      type: string
                      maxLength: 255
                required:
                  - AuthorityId
                  - AuthorizationDomain
                  - MemberState
                  - RegistrationId
            Authorisations:
              type: array
              description: 'Home or Passported Authorisations. '
              title: Authorisations
              items:
                type: object
                properties:
                  Active:
                    type: boolean
                    description: 'Indicator to show if this claim is active. This field is searchable.'
                    title: Active
                  AuthorityId:
                    type: string
                    description: 'Identifier of authority giving authorization. This field is searchable.'
                    title: AuthorityId
                    maxLength: 255
                  AuthorizationDomain:
                    allOf:
                      - description: 'Authorization domain in which authorization is given. This field is searchable.'
                      - title: AuthorizationDomain
                      - $ref: '#/components/schemas/AuthorizationDomain'
                  MemberState:
                    allOf:
                      - title: MemberState
                      - description: 'Member State giving the authorisation. This field searchable.'
                      - $ref: '#/components/schemas/CountryAlpha2Code'
                    title: MemberState
                  Role:
                    allOf:
                      - description: 'Role in which institution authorised.'
                      - title: Role
                      - $ref: '#/components/schemas/Role'
                required:
                  - Active
                  - AuthorityId
                  - AuthorizationDomain
                  - MemberState
                  - Role
        urn:openbanking:competentauthorityclaims:1.0:
          type: object
          description: Claims sourced from a competent authority(e.g. FCA) - can be applied to either TPPs to ASPSP
          title: CompetentAuthorityClaims
          properties:
            Authorisations:
              type: array
              description: Home or Passported Authorisations. This field is not included as part of the response payload when unassigned.
              title: Authorisations
              items:
                type: object
                properties:
                  Active:
                    type: boolean
                    description: 'Indicator to show if this claim is active. This field is searchable.'
                    title: Active
                  MemberState:
                    allOf:
                      - description: 'Member State giving the authorisation. This field is searchable.'
                      - $ref: '#/components/schemas/CountryAlpha2Code'
                      - title: MemberState
                  Psd2Role:
                    allOf:
                      - description: 'Psd2 Role in which institution authorised. This field is searchable.'
                      - $ref: '#/components/schemas/PSD2Role'
                      - title: Psd2Role
                required:
                  - Active
                  - MemberState
                  - Psd2Role
            AuthorityId:
              type: string
              description: 'The ID of the accrediting authority. This field is searchable.'
              title: AuthorityId
              maxLength: 255
            EtsiIdentifier:
              type: string
              description: 'European Telecommunications Standards Institute Organisation Identifier. This field is searchable and is not included as part of the response payload when unassigned. '
              title: EtsiIdentifier
              maxLength: 255
            MemberState:
              allOf:
                - $ref: '#/components/schemas/CountryLongName'
                - description: 'Member State of the Authority. This field is searchable.'
                - title: MemberState
            RegistrationId:
              type: string
              description: 'Registration Id with the principle authority. This field is searchable.'
              title: RegistrationId
              maxLength: 255
          required:
            - AuthorityId
            - MemberState
            - RegistrationId
        AuthorisationServers:
          type: array
          description: Authorisation Server Portal
          title: AuthorisationServers
          items:
            type: object
            properties:
              Id:
                type: string
                description: 'Authorisation Server Id V39 required. This field is searchable.'
                title: Id
                maxLength: 255
                readOnly: true
              AutoRegistrationSupported:
                type: boolean
                description: 'Authorisation Server supports auto-registration. This field is searchable.'
                title: AutoRegistrationSupported
              BaseApiDNSUri:
                type: string
                description: 'Points to the Open Banking APIs V39 required. This field is searchable.'
                title: BaseApiDNSUri
                maxLength: 2000
              CustomerFriendlyDescription:
                type: string
                description: 'Customer orientated description. This field is searchable and is not included as part of the response payload when unassigned.'
                title: CustomerFriendlyDescription
                maxLength: 255
              CustomerFriendlyLogoUri:
                type: string
                description: 'uri from which a TPP can retrieve a certified logo V39 required. This field is searchable.'
                title: CustomerFriendlyLogoUri
                maxLength: 2000
              CustomerFriendlyName:
                type: string
                description: 'Certified name. This field is searchable and is not included as part of the response payload when unassigned.'
                title: CustomerFriendlyName
                maxLength: 255
              DeveloperPortalUri:
                type: string
                description: URI for TPP developer testing V39 required. This field is searchable.
                title: DeveloperPortalUri
                maxLength: 2000
              TermsOfService:
                type: string
                description: 'Uri from which the terms of service can be retrieved V39 required. This field is searchable.'
                title: TermsOfService
                maxLength: 255
              OpenIDConfigEndPointUri:
                type: string
                description: Uri used for Oauth2.0 OpenId Configuration V39 required. This field is searchable.
                title: OpenIDConfigEndPointUri
                maxLength: 2000
              PayloadSigningCertLocation:
                type: string
                description: 'The location which is used for signing certificates V39 required. This field is searchable.'
                title: PayloadSigningCertLocation
                maxLength: 255
              EISCDId:
                type: array
                description: 'Confirmation of payee bank identifier V37 was CoPBankIdentifier. Allowed lengths: 4, 6, 14. This field is searchable and is not included as part of the response payload when unassigned.'
                title: EISCDId
                items:
                  type: string
              ParentAuthorisationServerId:
                type: string
                description: Authorisation Server Id of Parent Authorisation server, used for app to app linking. This field is searchable and is not included as part of the response payload when unassigned.
                title: ParentAuthorisationServerId
                maxLength: 255
              AuthorizationDomain:
                allOf:
                  - description: 'Authorization Domain. This field is searchable.'
                  - $ref: '#/components/schemas/AuthorizationDomain'
                title: AuthorizationDomain
                readOnly: true
              ApiResourceDiscoveryEndpoint:
                type: string
                description: An RFC-3986-compliant URI. This field is searchable and is not included as part of the response payload when unassigned.
                title: ApiResourceDiscoveryEndpoint
                maxLength: 2000
            required:
              - Id
              - AutoRegistrationSupported
              - BaseApiDNSUri
              - CustomerFriendlyLogoUri
              - DeveloperPortalUri
              - TermsOfService
              - OpenIDConfigEndPointUri
              - PayloadSigningCertLocation
        urn:openbanking:organisation:1.0:
          type: object
          description: Account details for an open banking organisation which are used for SCIM access to the Directory on behalf of an accredited organisation.
          title: Organisation
          properties:
            CreateTimestamp:
              type: string
              description: 'Creation Timestamp '
              title: CreateTimestamp
              readOnly: true
            EmailAddresses:
              type: array
              description: 'Email addresses associated with the organisation. This field is not included as part of the response payload when unassigned'
              title: EmailAddresses
              items:
                type: object
                properties:
                  Name:
                    type: string
                    description: 'A name of a person or an office to which this email belongs. This field is not searchable.'
                    title: Name
                    maxLength: 255
                  Value:
                    type: string
                    description: 'Value of email address. This field is not searchable. The format of the email address must comply with standards defined here -> https://datatracker.ietf.org/doc/html/rfc5322#section-3.4.1 '
                    title: Value
                    maxLength: 255
                  Type:
                    allOf:
                      - description: 'Type of email address. This field is not searchable. '
                      - $ref: '#/components/schemas/ContactType'
                      - title: Type
                  Primary:
                    type: boolean
                    description: 'Indicator to show is this is the primary email address. This field is not searchable. '
                    title: Primary
                required:
                  - Name
                  - Value
                  - Type
                  - Primary
            ModifyTimestamp:
              type: string
              description: 'Modification Timestamp'
              title: ModifyTimestamp
              readOnly: true
            OBAuthorisationState:
              allOf:
                - description: 'OB Participant Authorisation State. This field is not searchable'
                - $ref: '#/components/schemas/OBAuthorisationState'
                - title: OBAuthorisationState
            OBOrganisationId:
              type: string
              description: Open Banking Organisation Identifier. This field is searchable.
              title: OBOrganisationId
              minLength: 18
              maxLength: 18
              readOnly: true
            OrganisationCommonName:
              type: string
              description: 'The common name of the organisation. This field is searchable'
              title: OrganisationCommonName
              maxLength: 255
            PersonalAccountRoles:
              type: array
              description: Individuals who have authorised access to the organisation. This field is not included as part of the response payload when unassigned.
              title: PersonalAccountRoles
              items:
                type: object
                properties:
                  UserName:
                    type: string
                    format: uri
                    description: 'User''s name, email address or other identifying label. This field is searchable.'
                    title: UserName
                    maxLength: 255
                    readOnly: true
                  Role:
                    allOf:
                      - description: 'Role which the individual holds. This field is searchable.'
                      - $ref: '#/components/schemas/PersonalAccountRoleType'
                      - title: Role
                    readOnly: true
                  AuthorizationDomain:
                    allOf:
                      - description: 'AuthorizationDomain. This field is searchable.'
                      - $ref: '#/components/schemas/AuthorizationDomain'
                      - title: AuthorizationDomain
                    readOnly: true
                required:
                  - UserName
                  - Role
                  - AuthorizationDomain
            PhoneNumbers:
              type: array
              description: Phone numbers by which an organisation can be contacted. This field is not included as part of the response payload when unassigned.
              title: PhoneNumbers
              items:
                type: object
                properties:
                  Name:
                    type: string
                    description: 'A name of a person or an office to which this phone number belongs. This field is not searchable. '
                    title: Name
                    maxLength: 255
                  Value:
                    type: string
                    description: 'Value of phone number through which the organisation can be contacted. This field is not searchable.'
                    title: Value
                    maxLength: 255
                  Type:
                    allOf:
                      - type: string
                      - description: 'Type of phone contact. This field is mutable, but is not searchable. '
                      - title: Type
                      - $ref: '#/components/schemas/ContactType'
                  Verified:
                    type: boolean
                    description: 'Flag to show that the phone number has been verified. This field is not searchable. '
                    title: Verified
                required:
                  - Name
                  - Value
                  - Type
                  - Verified
            PostalAddresses:
              type: array
              description: Organisations's Postal Addresses
              title: PostalAddresses
              items:
                type: object
                properties:
                  AddressLine2:
                    type: string
                    description: 'Additional address line. This field is not searchable and is not included as part of the response payload when unassigned'
                    title: AddressLine2
                    maxLength: 255
                  Country:
                    allOf:
                      - description: 'Address Country in full. This field is not searchable. '
                      - $ref: '#/components/schemas/CountryLongName'
                      - title: Country
                  PostCode:
                    type: string
                    description: 'Post or ZIP Code. This field is not searchable. '
                    title: PostCode
                    maxLength: 255
                  Primary:
                    type: boolean
                    description: 'Flag to indicate that this is the primary contact address. This field is not searchable. '
                    title: Primary
                    maxLength: 255
                  StreetAddress:
                    type: string
                    description: 'Street Address, including building number. This field is not searchable. '
                    title: StreetAddress
                    maxLength: 255
                  Town:
                    type: string
                    description: 'Postal Town. This field is not searchable. '
                    title: Town
                    maxLength: 255
                  Name:
                    type: string
                    description: 'Name of addressee. This field is not searchable. '
                    title: Name
                    maxLength: 255
                  Type:
                    allOf:
                      - description: 'Type of postal address. This field is not searchable. '
                      - $ref: '#/components/schemas/PostalAddressType'
                      - title: Type
                required:
                  - Country
                  - PostCode
                  - Primary
                  - StreetAddress
                  - Town
                  - Name
                  - Type
            status:
              allOf:
                - description: 'Organisation status. This field is not searchable, but is mutable. '
                - $ref: '#/components/schemas/AuthorisationDomainStatus'
                - title: status
          required:
            - OBOrganisationId
            - OrganisationCommonName
        urn:openbanking:legalauthorityclaims:1.0:
          type: object
          description: Claims sourced from a legal authority(e.g. Companies House) - can be applied to either TPPs to ASPSP
          title: LegalAuthotiryClaims
          properties:
            LegalAuthorityClaims:
              type: array
              description: 'Details of each Company Registration Authority with which the Company is registered. '
              title: LegalAuthorityClaims
              items:
                type: object
                properties:
                  RegisteredId:
                    type: string
                    description: 'Company Registration Id. This field is searchable.'
                    title: RegisteredId
                    maxLength: 255
                  RegisteredName:
                    type: string
                    description: 'Company Registered Name. This field is searchable.'
                    title: RegisteredName
                    maxLength: 255
                  RegistrationAuthorityId:
                    type: string
                    description: 'Identification of registering Authority. This field is searchable.'
                    title: RegistrationAuthorityId
                    maxLength: 255
                    readOnly: true
                required:
                  - RegisteredId
                  - RegisteredName
                  - RegistrationAuthorityId
        urn:openbanking:softwarestatement:1.0:
          type: object
          description: 'Software Statement Schema as defined by Open Banking. '
          title: SoftwareStatement
          properties:
            SoftwareStatements:
              type: array
              description: Software Statement Attribute
              title: SoftwareStatements
              items:
                type: object
                properties:
                  Active:
                    type: boolean
                    description: 'Flag to show if software statement is active. This field is searchable.'
                    title: Active
                  AuthorizationDomain:
                    allOf:
                      - $ref: '#/components/schemas/AuthorizationDomain'
                      - description: 'AuthorizationDomain. This field is searchable. '
                      - title: AuthorizationDomain
                    readOnly: true
                  ClientId:
                    type: string
                    description: 'Requested Client Id - note that OB will issue a set of credentials with this clientid for this given piece of software. ASPSPs are not obliged to honour this requested clientid. This field is searchable'
                    title: ClientId
                    minLength: 22
                    maxLength: 22
                    readOnly: true
                  ClientName:
                    type: string
                    description: 'Human readable client name. May be localised. This field is searchable. '
                    title: ClientName
                    maxLength: 40
                    readOnly: true
                  ClientUri:
                    type: string
                    description: 'The “home page” or other wise recognisable url of the application (oath client). This field is searchable. '
                    title: ClientUri
                    maxLength: 256
                  Description:
                    type: string
                    description: 'Description of the unique instance of this piece of software. If only one instance of a piece of software is to be registered then this should be the same as the SoftwareDescription. This field is searchable.'
                    title: Description
                    maxLength: 256
                    readOnly: true
                  Id:
                    type: string
                    description: 'Unique Scheme Wide Software id. This field is searchable.'
                    title: Id
                    readOnly: true
                  LogoUri:
                    type: string
                    description: 'The software logo. This field is searchable'
                    title: LogoUri
                    maxLength: 256
                  Mode:
                    description: 'A flag to identify if a piece of software should have access to production PSU accounts. This field has been added at the request of an ASPSP to allow BETA or Non Production testing against production platforms. The default for this system should be ''Live''.  This field is searchable.'
                    title: Mode
                    type: string
                  ObClientCreated:
                    type: boolean
                    description: An indicator to show if the client has been created in Open Banking. This field is searchable.
                    title: ObClientCreated
                  OnBehalfOfObOrganisation:
                    type: string
                    description: 'The organisation on whom this software statement is behalf of Altered from reference to string, 10/11/2017. This field is searchable. '
                    title: OnBehalfOfObOrganisation
                    maxLength: 40
                    readOnly: true
                  PolicyUri:
                    type: string
                    description: An optional document containing a link to a Policy document governing the privacy information policy of for the application. Purely to be displayed a PSU at a ASPSP if the ASPSP supports it. Optional for the TPP to provide. This field is searchable
                    title: PolicyUri
                    maxLength: 256
                    readOnly: true
                  RedirectUri:
                    type: array
                    description: 'Redirect Uri''s for the registered piece of software. May be overridden by the RFC7591 payload. This field is searchable and is not included as part of the response payload when unassigned.'
                    title: RedirectUri
                    items:
                      type: string
                      maxLength: 2000
                    uniqueItems: true
                  Roles:
                    type: array
                    allOf:
                      - $ref: '#/components/schemas/Role'
                    description: 'Roles for which this software statement can be used. It contains roles from one domain only. If list of roles contains ASPSP role, then any other role cannot be present. This field is searchable.'
                    title: Roles
                    items:
                      type: string
                    readOnly: true
                  TermsOfServiceUri:
                    type: string
                    description: 'An optional document containing a link to a Terms of Service document governing the terms of service for the application. Purely to be displayed a PSU at a ASPSP if the ASPSP supports it. Optional for the TPP to provide. This field is searchable.'
                    title: TermsOfServiceUri
                    maxLength: 256
                    readOnly: true
                  Version:
                    type: number
                    description: 'Version of the software. This field is not searchable.'
                    title: Version
                    readOnly: true
                required:
                  - Active
                  - AuthorizationDomain
                  - ClientId
                  - ClientName
                  - ClientUri
                  - Description
                  - Id
                  - Mode
                  - LogoUri
                  - ObClientCreated
                  - PolicyUri
                  - RedirectUri
                  - TermsOfServiceUri
                  - Version
        id:
          type: string
          description: record identifier
          title: id
        meta:
          type: object
          properties:
            resourceType:
              allOf:
                - type: string
                - description: type of resource equal, participants in this case
                - title: resourceType
                - $ref: '#/components/schemas/ParticipantsResourceType'
            location:
              type: string
              description: location of resource in PDG
              title: location
        schemas:
          type: array
          description: schemas
          title: schemas
          items:
            type: string
      description: Schema defining attributes of Participants', Account Payment Service Providers' and Third Party Providers' records in ecosystem
    OBThirdPartyProviders:
      $ref: '#/components/schemas/Participants'
    OBAccountPaymentServiceProviders:
      $ref: '#/components/schemas/Participants'
externalDocs:
  description: SCIM 2.0 Protocol (RFC7644)
  url: https://tools.ietf.org/html/rfc7644